// Пользовательские переменные
:root {
    --ffMain: 'Raleway', sans-serif;
    --ffHeader: sans-serif;
    --tr: .3s; // Плавность перехода
    --radius: 16px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1240px;
$radius: var(--radius);
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 992px;
$tablet-l: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
// Цвета
:root {
    --main: #0E0E0E;
    --second: #D2FADF;
    --accent: #2CA869;
    --accent2: #FAEFDD;
    --gray: #90959E;
    --accent-hover: #44BD99;
    --accent-active: #D13F1C;
    --accent2-active: #C27B29;
    --outline: #ED6A53;
    --bg-page: #FFF;
    --bg-block: #F8F8F8;
    --error: #E83D3D;
    --black: rgba(14, 14, 14, 1);
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent2: var(--accent2);
$gray: var(--gray);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);
