.chat-page {
		overflow: hidden;
    .link-pref-page__desctop {
        display: none;
    }
    .reports-all-section__content--recommendation {
        margin-bottom: 0;
    }
    .reports-all-section__content--diet {
        margin-top: 24px;
    }
    @media (max-width: $tablet) {
        .general-menu {
            display: none;
        }
        .header.sticky .link-pref-page {
            display: block;
            padding: 0 12px 20px 12px
        }
        .reports-all-section__content--diet {
            margin-top: 16px;
        }
        // main {
        //     height: 100vh;
        //     .page-content {
        //         height: auto;
        //         overflow: scroll;
        //         // padding-bottom: 40px;
        //     }
        // }
    }
    // @media (max-width:500px) {
    //     .header {
    //         position: fixed;
    //         top: 0;
    //         background: #fff;
    //         right: 0;
    //         animation: header 1s;
    //         left: 0;
    //         width: 100%;
    //         height: auto;
    //         .link-pref-page {
    //             padding: 0 12px 20px 12px;
    //         }
    //     }
    // }
}

.dialog__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $gray;
    margin: 20px 0;
    text-align: center;
}

.dialog__message {
    max-width: 47%;
    width: max-content;
    padding: 9px 10px;
    margin-bottom: 10px;
    position: relative;
    &[data-message="left"] {
        margin-right: auto;
        min-width: 269px;
        border-radius: 15px 15px 15px 5px;
    }
    &[data-message="right"] {
        margin-left: auto;
        min-width: 111px;
        border-radius: 15px 15px 5px 15px;
    }
    &[data-status="read"] {
        .dialog__message--date {
            right: 33px;
            bottom: 11px;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 9px;
            right: 8px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66699 9.7619L5.41699 13.3333L14.167 5' stroke='white' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.58301 13.3333L18.333 5' stroke='white' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &[data-status="first"] {
        .dialog__message--date {
            right: 30px;
            bottom: 10px;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 13px;
            right: 8px;
            width: 15px;
            height: 11px;
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16663 5.7619L4.91663 9.33333L13.6666 1' stroke='white' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    @media (max-width:$tablet) {
        max-width: 80%;
    }
}

.dialog {
    &[data-info="student"] {
        .dialog__message {
            &[data-message="left"] {
                background: rgba(121, 126, 135, 0.15);
                .dialog__message--text {
                    color: #383838
                }
                .dialog__message--date {
                    color: $gray;
										padding-right: 0;
                }
            }
            &[data-message="right"] {
                background: $outline;
                .dialog__message--text,
                .dialog__message--date {
                    color: #fff
                }
            }
        }
    }
    &[data-info="curator"] {
        .dialog__message {
            &[data-message="left"] {
                background: $outline;
                .dialog__message--text,
                .dialog__message--date {
                    color: #fff
                }
            }
            &[data-message="right"] {
                background: rgba(121, 126, 135, 0.15);
                .dialog__message--text,
                .dialog__message--size,
                .dialog__message--name {
                    color: #0E0E0E
                }
                .dialog__message--date {
                    color: $gray;
                }
            }
        }
    }
}

.dialog__message--text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 90%;
    padding-right: 65px;
    //word-break: break-all;
    @media (max-width: $tablet) {
        margin-right: 30px;
        padding-right: 0px;
        width: 100%
    }
}

.dialog__message--date {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    right: 8px;
    bottom: 8px;
    // position: absolute;
		text-align: right;
		padding-right: 20px;
}
.dialog[data-info=curator] .dialog__message[data-message=right] .dialog__message--date {
	padding-right: 0;
}

.dialog__message--photo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    .dialog__message--photo-picture {
        width: 74px;
        height: 74px;
        border-radius: 8px;
        margin-right: 13px;
        object-fit: cover;
    }
    @media (max-width:$tablet) {
        margin-right: 50px;
    }
}

.dialog__message--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    letter-spacing: -0.2px;
}

.dialog__message--size {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #fff
}

.message-page__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $gray;
    text-align: center;
    margin: 20px 0 10px 0
}

.message-page .reports-all-section__content--diet {
    opacity: 0;
    transition: .4s;
}

.message-page {
    margin: 0 58px 0 40px;
    overflow-y: auto;
    margin-right: 0;
    padding-right: 58px;
    padding-bottom: 40px;
    position: relative;
    &._active {
        .reports-all-section__content--diet {
            opacity: 1;
        }
    }
    .reports-all-section {
        height: auto;
        transition: .4s;
        margin-bottom: 0;
        margin-right: 0;
        &[data-status="expectation"] {
            .reports-all-section--plashka {
                border: 1px solid $outline;
                color: $outline;
                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2185_22359)'%3E%3Cpath d='M8.50004 14.6654C12.1819 14.6654 15.1667 11.6806 15.1667 7.9987C15.1667 4.3168 12.1819 1.33203 8.50004 1.33203C4.81814 1.33203 1.83337 4.3168 1.83337 7.9987C1.83337 11.6806 4.81814 14.6654 8.50004 14.6654Z' fill='%23ED6A53' stroke='%23ED6A53' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.5 4V8L11.1667 9.33333' stroke='%23EBECED' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2185_22359'%3E%3Crect width='16' height='16' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                }
            }
            .your-reports__bottom-element-list-line[data-info="period"] {
                display: flex
            }
        }
        &[data-status="checked"] {
            .reports-all-section--plashka {
                border: 1px solid $accent;
                color: $accent;
                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3334 7L13.7067 5.14L13.9334 2.68L11.5267 2.13333L10.2667 0L8.00008 0.973333L5.73341 0L4.47341 2.12667L2.06675 2.66667L2.29341 5.13333L0.666748 7L2.29341 8.86L2.06675 11.3267L4.47341 11.8733L5.73341 14L8.00008 13.02L10.2667 13.9933L11.5267 11.8667L13.9334 11.32L13.7067 8.86L15.3334 7ZM6.25341 9.67333L4.66675 8.07333C4.40675 7.81333 4.40675 7.39333 4.66675 7.13333L4.71341 7.08667C4.97341 6.82667 5.40008 6.82667 5.66008 7.08667L6.73341 8.16667L10.1667 4.72667C10.4267 4.46667 10.8534 4.46667 11.1134 4.72667L11.1601 4.77333C11.4201 5.03333 11.4201 5.45333 11.1601 5.71333L7.21341 9.67333C6.94008 9.93333 6.52008 9.93333 6.25341 9.67333Z' fill='%232CA869'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 15px;
                    height: 14px;
                }
            }
            .your-reports__bottom-element-edit {
                display: none;
            }
            .your-reports__bottom-element-list-line:nth-last-child(2) {
                margin-right: 0;
            }
            .your-reports__bottom-element-list-line[data-info="period"] {
                display: none
            }
        }
    }
    @media (max-width: $tablet) {
        margin: 0 -12px 0 0;
        padding: 0 12px 30px 0;
        .varios-report__top-calendar {
            width: auto;
            .varios-report__top-calendar-text {
                margin-left: 0;
            }
        }
        button.your-reports__bottom-element-edit {
            position: static;
        }
        .reports-all-section__content {
            margin-top: 8px;
        }
        .reports-all-section {
            height: 180px;
            overflow: hidden;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    @media (min-width:$tablet) and (max-width:1200px) {
        margin-left: 0;
        padding-right: 15px
    }
}

@media (max-width: $tablet) {
    .Safari .message-page .reports-all-section {
        transition: .1s;
    }
}

.reports-all-section--plashka {
    width: max-content;
    padding: 4px 8px;
    height: 24px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    &:before {
        display: block;
        margin-right: 5px;
    }
    @media (max-width:$tablet) {
        line-height: 1;
    }
}

.your-reports__bottom-element-edit {
    margin-left: 20px;
}

.message-page__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: var(--main);
    &._show {
        svg {
            transform: rotate(180deg);
        }
    }
    svg {
        margin-left: 4px;
        width: 24px;
        height: 24px;
        transform: translateY(-1px);
        transition: .4s;
    }
    @media (max-width:$tablet) {
        font-size: 12px;
        font-weight: 600;
        svg {
            width: 16px;
            height: 16px;
        }
    }
}

.message-push {
		--container-padding-fix: -20px;
		margin-top: auto;
		margin-left: var(--container-padding-fix);
		width: #{'calc(100% - 1 * var(--container-padding-fix))'};
    padding: 16px 24px;
    background: #F2F2F3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:$tablet) {
			width: #{'calc(100% - 2 * var(--container-padding-fix))'};
			--container-padding-fix: -12px;
			align-items: flex-start;
			padding: 10px 11px 10px 11px;
			border-top: 0.5px solid #90959E;
		}

		@media (max-width: $mobile-l) {
			padding: 4px;
		}
}

.message-push form {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
}
.message-push form.align-end {
	align-items: flex-end;
}

.message-push--file {
    // margin-left: 28px;
    position: relative;
}

.message-push button,
.message-push .message-push--file {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.message-push button svg,
.message-push .message-push--file svg {
	min-width: 32px;
	width: 32px;
	height: 32px;
	margin-bottom: 9px;

	@media (max-width: $tablet) {
		min-width: initial;
		margin-bottom: 0;
	}
}

.message-push button {
	@media (max-width:$tablet) {
		// padding-top: 4px;
		--size: 35px;
		min-width: var(--size);
		max-width: var(--size);
		width: var(--size);
		height: var(--size);

		svg {
				width: 100%;
				height: 100%;
		}
	}
	@media (max-width:$mobile-l) {
		--size: 33.5px;
	}
}

.message-push .message-push--file {
	@media (max-width:$tablet) {
		margin-left: 0;
		padding-top: 0;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.message-push .message-push--file svg {

	@media (max-width:$tablet) {
		width: 28px;
		height: 28px;
	}
}

.message-push .message-push--field {
		overflow: auto;
		&::-webkit-scrollbar {
				display: none;
		}

    @media (max-width:$tablet) {
			height: auto;
			padding: 7px 12.5px 7px;
			border: 1px solid #fff;
			margin: 0 3px;
		}
}

.message-push .message-push--field::placeholder {
	@media (max-width:$tablet) {
		color: #ADADB6;
	}
}


.message-push._active-mess {
    @media (max-width:$tablet) {
			// min-height: 52px; // Это было пока неправильно работало от пересчетов Димы
			border-bottom: 0.5px solid #90959E;
			border-top-color: transparent;
		}
}

.message-push .message-push--audio {
	@media (max-width:$tablet) {
		margin-right: 0;
	}
}

@media (max-width: $tablet) {
    body {
        &.keyboard {
            // overflow: hidden;
            main {
                // height: 100%;
                // position: absolute;
                // top: 0;
                // left: 0;
                // right: 0;
                // bottom: 0;
            }
        }
        &.Safari .message-push {
            // position: absolute;
        }
				//--fix remove this  commented ↓
        // @media (max-height:800px) {
        //     &.Safari.keyboard main {
        //         bottom: 305px
        //     }
        // }
        // @media (min-height:850px) {
        //     &.Safari.keyboard main {
        //         bottom: 275px
        //     }
        // }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 2dppx) {
    body.Safari.keyboard main {
        // bottom: 275px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and ( min--moz-device-pixel-ratio: 3),
only screen and ( -o-min-device-pixel-ratio: 3/1),
only screen and ( min-device-pixel-ratio: 3),
only screen and ( min-resolution: 3dppx) {
    body.Safari.keyboard main {
        // bottom: 300px
    }
}

.message-push--field {
    width: 100%;
    margin: 0 0 0 20px;
    border-radius: 24px;
    padding: 16px 30px;
    resize: none;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.2px;

		@media (max-width: $tablet) {
			border-radius: 16px;
			font-size: 14px;
			line-height: 1.25;
		}

		@media (min-width: $tablet + 1) {
			min-height: 54px;

		}
}

.message-push--field::placeholder {
	color: $gray;
}

.message-push__field-file {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer;
    font-size: 0;
}

.message-send {
		margin-left: 24px;

    @media (max-width: $tablet) {
        margin-left: 0;//7px;
    }
}

.reporst-check {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        opacity: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        cursor: pointer;
        &:checked+label {
            background: $accent;
            border-color: transparent;
            &:after {
                transform: translate(-50%, -50%);
            }
        }
    }
    label {
        background: transparent;
        width: 18px;
        height: 18px;
        border: 1px solid #0E0E0E;
        border-radius: 2px;
        position: relative;
        display: block;
        margin-right: 10px;
        transition: .4s;
        &:after {
            content: '';
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 4.5L4.5 8L11.5 1' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 11px;
            height: 8px;
            left: 50%;
            top: 50%;
            transform: scale(0);
            transition: transform .4s;
            display: flex;
            margin: auto;
        }
    }
}

.reporst-check__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

// .message-page__prev-view {
//     background: #FFFFFF;
//     box-shadow: 2px 2px 15px rgba(95, 95, 95, 0.27);
//     border-radius: 100px;
//     padding: 10px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 130%;
//     position: absolute;
//     margin: auto;
//     top: 36px;
//     right: 58px;
//     left: 0;
//     width: max-content;
// }
.test-chat {
    @media (max-width: 992px) {
        .page-content {
            display: none
        }
        .section-chat {
            display: block
        }
    }
}

/*
 Нужно чтобы закрепленное снизу поле ввода сообщения отображалось верно
 */
.chat-page .page-content {
	display: flex;
	flex-direction: column;
	z-index: 1;
	overflow: hidden;

	@media (max-width: $tablet) {
		height: auto;
	}
}
.chat-page main {
	height: 100%;
	overflow: hidden;
}

.section-chat {
	z-index: 2;
}

.chat-page .header {
	transition: all 0.1s ease;

	@media (max-width: $tablet) {
		height: auto;
		top: unset;
		padding-right: 0;
	}
}

.is-keyboard.chat-page .header {
	@media (max-width: $tablet) {
		max-width: calc(100% - 24px);
	}
	@media (max-width: $mobile-l) {
		position: absolute;
	}
}

.is-keyboard.chat-page .content--page {
	@media (max-width: $mobile-l) {
		padding-top: 44px;
	}
}

.chat-page .content--page:not(.content--page__visible) {
	@media (max-width: $tablet) {
		margin-top: 0;
	}
}
