.modal#edit-report .modal__content {
  width: 630px;
}

.modal#edit-report form {
  margin-top: 28px;
}

.modal#edit-report input:not([type="submit"]) {
  border: 1px solid #0E0E0E;
  border-radius: 5px;
}
