.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $tr;
    //overflow-y: auto;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     // background: rgba(35, 30, 30, 0.85);
    //     transition: .4s;
    //     transition-delay: .15s;
    // }
    &._show {
        visibility: visible;
        opacity: 1;
        background: rgba(35, 30, 30, 0.85);
        & .modal__body {
            transform: translate(0, 0);
        }
    }
    &.time-show-overflow {
        overflow-y: auto;
    }
}

#tasks-popup {
    .modal__content {
        background: $accent2;
        max-width: 492px;
        width: 100%;
        padding: 24px;
    }
    .section-information__tasks-slider-text {
        height: auto
    }
    .section-information__tasks-slider-field-btn {
        display: none
    }
    .modal__close {
        top: 28px;
        width: 16px;
        height: 16px;
    }
}

[id*="alert"] {
	z-index: 99999;
}
[data-alert-popup] {
    .modal__title {
        width: 225px
    }
    @media (max-width:$tablet) {
        .modal__title {
            width: 174px
        }
    }
}

.btn-prev-page {
    width: 351px;
    max-width: 100%;
    height: 45px;
    margin: 32px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet) {
        margin-top: 24px;
        width: 233px
    }
}

#alert,
#alert-report,
#alert-by,
[data-alert-popup] {
    .modal__content {
        width: 532px;
        max-width: 532px;
        padding: 32px;
        svg,
        img {
            width: 49px;
            height: 56px;
            margin: 0 auto 12px auto;
            display: flex;
        }
        .modal__icon {
            text-align: center;
        }
        .modal__title {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            margin-bottom: 0;
        }
        .modal__close {
            position: static;
            width: 351px;
            max-width: 100%;
            height: 45px;
            margin: 32px auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media (max-width: $tablet) {
        .modal__content {
            max-width: 80%;
            padding: 24px 20px;
            .modal__title {
                font-size: 14px;
                line-height: 130%;
            }
            svg,
            img {
                width: 39px;
                height: 51px;
                margin-bottom: 8px;
            }
            .modal__close {
                margin-top: 24px;
                width: 233px;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

#not-save {
    .modal__content {
        padding: 48px 32px 32px;
        .modal__close {
            margin-top: 12px;
            background: transparent;
            border: 1px solid $outline;
            color: $outline;
            &:hover {
                border-color: #D13F1C;
                color: #D13F1C
            }
            &:active {
                background: $accent2;
                border-color: $outline;
                color: $outline
            }
        }
    }
    @media (max-width:$tablet) {
        .modal__content {
            padding: 32px 20px 24px;
            .modal__close {
                margin-top: 10px;
            }
        }
        .btn {
            font-size: 16px
        }
        .modal__title {
            font-weight: 700;
            font-size: 16px;
            width: 100%;
        }
    }
}

#confetti {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    &._show {
        display: block;
    }
}


[id*="loader"] {
	z-index: 999999;
}
#loader {
    .modal__content {
        max-width: 532px;
        padding: 54px
    }
    .modal__close {
        display: none
    }
    .modal__title-loader {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-top: 30px;
    }
    @media (max-width:$tablet) {
        .modal__body {
            padding-left: 9%;
            padding-right: 9%
        }
        .modal__title-loader {
            font-size: 14px;
            line-height: 130%;
            margin-top: 20px
        }
        .modal__content {
            padding: 48px
        }
    }
}

.modal__body {
    min-height: 100%;
    transform: translate(0, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    transition: $tr;
    z-index: 1;
    position: relative;
}

.modal__content {
    position: relative;
    width: 90%;
    max-width: 435px;
    background: #fff;
    border-radius: $radius;
    padding: 80px 32px 46px;
    z-index: 1;
}

.modal__title {
    font-family: 'RoadRadio';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
}

.modal__telegram-item {
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: all 0.2s;
    .contacts-item {
        transform: scale(0.8);
        flex-shrink: 0;
        margin-right: 30px;
    }
    &:hover {
        opacity: 1;
    }
}

.modal__telegram-name {
    font-family: 'Montserrat-bold';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0em;
    color: #fff;
    text-transform: uppercase;
}

.modal__form {
    margin: 32px 0 0 0;
}

.modal__attention {
    font-size: 14px;
    color: $second;
    line-height: 1.3;
    margin: 14px 0 0 0;
}

.modal__submit {
    margin: 15px 0 0 0;
}

.modal__close {
    position: absolute;
    top: 38px;
    right: 32px;
    width: 24px;
    height: 24px;
    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 27px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

@media (max-width: 767px) {
    .modal__content {
        padding: 20px;
    }
    .modal__title {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.015em;
        margin-bottom: 33px;
    }
    .modal__telegram-item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .modal__telegram-item .contacts-item {
        margin-right: 23px;
    }
    .modal__telegram-name {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0em;
    }
}

.modal-field__line {
    border: 1px solid $main;
    border-radius: 5px;
    padding: 16px 15px;
    display: flex;
    height: 52px;
    svg {
        width: 24px;
        height: 24px;
    }
}

.modal-field__line-left--text {
    font-weight: 700;
    font-size: 14px;
    margin-left: 8px;
}

.modal-field__line-left {
    display: flex;
    align-items: center;
}
