.content--page:not(.content--page__visible) {
    h1 {
        display: none;
    }
    @media (max-width: $tablet) {
        margin-top: 13px;
        h1 {
            display: block;
            text-align: center;
            margin-bottom: 22px;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
        }
    }
}

@media (max-width:$tablet) {
    .reports-page .header {
        display: none
    }
}

.reports-page {
    .section-tabs {
        margin-right: 0;
    }
}

.list-report-all {
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    li {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #90959E;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 36px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 0;
            height: 2px;
            background: #000;
            transition: .4s;
        }
        &._active {
            color: #000000;
            &:after {
                width: 63px;
            }
        }
    }
    @media (max-width: $tablet) {
        justify-content: center;
        text-align: center;
        border-bottom: 2px solid rgba(121, 126, 135, 0.1);
        padding-bottom: 5px;
        margin-bottom: 20px;
        li {
            flex: 1;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            &:after {
                left: 0;
                right: 0;
                margin: auto;
            }
            &._active {
                &:after {
                    width: 100%;
                }
            }
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

.your-reports__bottom--margin {
    margin-right: 30px;
    @media (max-width: $tablet) {
        margin-right: 0;
    }
}

.your-reports__bottom--box {
    margin-bottom: 30px;
    &[data-checked] {
        .your-reports__bottom-element-edit,
        .your-reports__bottom-link {
            pointer-events: none;
        }
        .your-reports__bottom-element-edit svg {
            fill: $gray
        }
    }
    // &:not([data-checked]):hover {
    //     .your-reports__bottom-element-edit svg {
    //         fill: $outline
    //     }
    //     .your-reports__bottom-link {
    //         color: $outline
    //     }
    // }
    .your-reports__bottom-element {
        margin-bottom: 12px;
    }
    .your-reports__bottom-link {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #000000;
        margin-left: 40px;
        &:hover {
            color: $outline;
            svg path {
                fill: $outline
            }
        }
        &:active,
        &:focus {
            color: $gray;
            svg path {
                fill: $gray
            }
        }
        svg {
            width: 22px;
            height: 20px;
            margin-left: 10px;
            path {
                transition: .3s;
            }
        }
    }
    @media (max-width:1350px) {
        .your-reports__bottom-link {
            margin-left: 10px
        }
    }
    @media (max-width:1300px) {
        .your-reports__bottom-element-list-line:not(:last-child) {
            padding-right: 12px;
            margin-right: 12px;
        }
    }
    @media (max-width:1200px) {
        .your-reports__bottom-element-list {
            margin-left: 30px
        }
    }
    @media (max-width:1150px) {
        .your-reports__bottom {
            margin-right: 10px
        }
    }
    @media (max-width: $tablet) {
        margin-bottom: 16px;
        .your-reports__bottom-link {
            display: none;
        }
        .your-reports__bottom-element-list-line:not(:last-child) {
            padding-right: 0;
            margin-right: 4px;
        }
    }
}

.reports-all-section {
    background: rgba(121, 126, 135, 0.15);
    border-radius: 10px;
    padding: 24px;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 60px;
    transition: height 0.5s ease;
    .your-reports__bottom-element-list-line {
        &[data-info] {
            &:before {
                background-size: cover;
                width: 24px;
                height: 24px;
                margin-right: 6px;
                margin-bottom: 2px;
            }
        }
    }
    @media (max-width: $tablet) {
        padding: 12px 8px;
        margin-right: 0;
        margin-bottom: 100px;
        overflow: visible;
        position: relative;
        .your-reports__bottom-element-list-line {
            &[data-info] {
                height: 56px;
                min-height: auto;
                &:before {
                    position: static;
                    margin-right: 4px;
                }
            }
        }
        .your-reports__bottom-element-edit {
            position: absolute;
            top: -44px;
            right: 0;
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.reports-all-section__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reports-all-section__content--indicators {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    // @media (min-width: 1600px) {
    //     width: 1052px;
    //     max-width: 100%;
    // }
    @media (max-width: $tablet) {
        flex-direction: column;
        .reports-all-section__content--element[data-info] {
            width: 100%;
            margin-right: 0;
        }
        .reports-all-section__content--element-calories {
            //grid-column: 4/1;
            width: 100%;
            margin-left: 0
        }
    }
}

.reports-all-section__content--indicators--top {
    display: flex;
    align-items: center;
    width: 52%;
    @media (max-width: 1100px) {
        width: 55%
    }
    @media (max-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        grid-gap: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
}

.reports-all-section__content--element {
    &.your-reports__bottom-element-list-line {
        background: #FFFFFF;
        border-radius: 5px;
        padding: 0;
        width: 168px;
        min-height: 68px;
        justify-content: center;
        flex: 1;
        &[data-up] {
            &:after {
                margin-left: 4px;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.25 15.8327L10.25 4.16602' stroke='%2390959E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.41683 9.99935L10.2502 4.16602L16.0835 9.99935' stroke='%2390959E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                width: 20px;
                height: 20px;
                margin-bottom: 2px;
            }
        }
        &[data-down] {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.25 15.8327L10.25 4.16602' stroke='%232CA869%0A' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.41683 9.99935L10.2502 4.16602L16.0835 9.99935' stroke='%232CA869%0A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                margin-left: 4px;
                transform: rotate(180deg);
                width: 20px;
                height: 20px;
            }
        }
        &:not(:last-child) {
            padding: 0;
            margin-right: 10px;
            border-right: none
        }
    }
}

.reports-all-section__content {
    margin-top: 25px
}

.reports-all-section__content--element-calories {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 16px;
    width: 54%;
    min-height: 68px;
    display: flex;
    align-items: center;
    flex: 2;
    margin-left: 20px;
}

.reports-all-section__content--list__line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reports-all-section__content--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.reports-all-section__content--list--title {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 2px;
}

.reports-all-section__content--list--count {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 2px;
    @media (max-width: $tablet) {
        font-size: 12px;
        line-height: 130%;
    }
}

.reports-all-section__content--list--lower {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: $gray
}

.reports-all-section__content--recommendation {
    margin: 26px 0 24px 0;
    overflow: hidden;
    @media (max-width: $tablet) {
        margin: 16px 0 20px 0
    }
}

.reports-all-section__content--recommendation--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}

.reports-all-section__content--recommendation--slide {
    .swiper-slide {
        width: 116px;
        padding: 8px;
        background: #fff;
        border-radius: 5px;
    }
}

.reports-all-section__content--recommendation--box--title {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 2px;
}

.reports-all-section__content--recommendation--box {
    width: 100%
}

.reports-all-section__content--recommendation--data {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    span {
        font-weight: 600;
        font-size: 12px;
        line-height: 0;
        color: $gray
    }
    @media (max-width: $tablet) {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        span {
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
        }
    }
}

.reports-all-section__content--recommendation--line {
    width: 100%;
    height: 8px;
    background: rgba(121, 126, 135, 0.15);
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: var(--width-line);
        background: $accent;
        border-radius: 100px;
    }
}

.reports-all-section__content--recommendation--link {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    svg {
        width: 31px;
        height: 19px;
    }
    .swiper-button-prev {
        margin-right: 29px;
    }
    @media (max-width:$tablet) {
        display: none
    }
}

.reports-all-section__content--diet__element {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 12px;
    }
    &._dropdown-show {
        .reports-all-section__content--diet__element--btn {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    @media (max-width: $tablet) {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.reports-all-section__content--diet__element-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 0.5px solid #B9B9B9;
    @media (max-width: $tablet) {
        padding: 8px
    }
}

.reports-all-section__content--diet__element-left {
    display: flex;
    align-items: center;
    svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}

.reports-all-section__content--diet__element-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.reports-all-section__content--diet__element-right {
    text-align: right;
}

.reports-all-section__content--diet__element-right--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: $tablet) {
        font-size: 14px;
    }
}

.reports-all-section__content--diet__element-right--text {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $gray;
    @media (max-width: $tablet) {
        font-weight: 600;
        font-size: 12px;
    }
}

.reports-all-section__content--diet__element-bottom {
    display: flex;
    align-items: center;
    padding: 10px 8px 10px 20px;
    z-index: 99;
    position: relative;
    @media (max-width: $tablet) {
        padding: 10px 8px;
    }
}

.reports-all-section__content--diet__element--list {
    display: flex;
    align-items: center;
    li {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }
    @media (max-width: $tablet) {
        margin-right: 27px;
        li {
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}

.reports-all-section__content--diet__element--line-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 3px;
}

.reports-all-section__content--diet__element--line-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: $gray;
    display: block
}

.reports-all-section__content--diet__element--progress {
    margin-left: 100px;
    width: 100px;
    height: 8px;
    background: rgba(121, 126, 135, 0.15);
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: var(--width-line);
        background: $accent;
        border-radius: 100px;
    }
    @media (max-width: $tablet) {
        margin: 0 0 0 auto;
    }
}

.reports-all-section__content--diet {
    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 12px;
    }
}

.reports-all-section__content--diet__element--btn {
    margin-left: auto;
    svg {
        width: 24px;
        height: 24px;
        transition: .4s;
    }
    @media (max-width: $tablet) {
        margin-left: 16px
    }
}

.reports-all-section__content--dropdown {
    transition: height .5s ease;
    height: 0;
    z-index: 9;
}

.reports-all-section__content--dropdown__element {
    padding: 8px 20px;
    border-top: 1px solid #EBECED;
    opacity: 0;
    transition: opacity .7s linear;
    &:last-child {
        padding-bottom: 16px;
    }
    &._show {
        opacity: 1;
    }
    @media (max-width: $tablet) {
        padding: 8px;
        &:last-child {
            padding-bottom: 8px;
        }
    }
}

.reports-all-section__content--dropdown__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 4px;
    @media (max-width: $tablet) {
        font-size: 14px;
        line-height: 130%;
    }
}

.reports-all-section__content--dropdown__count {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    display: block;
    @media (max-width: $tablet) {
        font-size: 12px;
        line-height: 130%;
        font-weight: 600;
    }
}

.reports-all-section__content--dropdown__list {
    display: flex;
    margin-top: 12px;
    li {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }
}

.reports-all-section__content--dropdown__bottom {
    display: flex;
    align-items: flex-end;
}

.reports-all-section__content--dropdown__list--title {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 3px;
}

.reports-all-section__content--dropdown__count-all {
    margin-left: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
}

.reports-all-section__content--dropdown__list--text {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    display: block;
    color: $gray
}

.section-tabs {
    position: relative;
    margin-right: 30px;
    .tab {
        transform: translate3d(0, 20px, 0);
        transition: .4s linear;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        &._active {
            z-index: 1;
            opacity: 1;
            position: static;
            transform: translate3d(0, 0, 0);
        }
    }
    @media (max-width:$tablet) {
        margin-right: 0;
        margin-bottom: 100px;
    }
}

.reports-weeks-all__element {
    padding: 24px;
    background: rgba(121, 126, 135, 0.15);
    border-radius: 10px;
    margin-bottom: 40px;
    &[data-gender="women"] {
        .reports-weeks-all__element-content {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &[data-gender="men"] {
        .reports-weeks-all__element-content {
            grid-template-columns: repeat(2, 1fr);
        }
        .reports-weeks-all__element-content--element:last-child {
            grid-column: 3/1;
        }
        [data-condition="first"] {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1784_51070)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7499 2.5C19.7499 2.22386 19.5261 2 19.2499 2H6.24992C5.97378 2 5.74992 2.22386 5.74992 2.5V4.5C5.74992 4.77614 5.52607 5 5.24992 5H4.74995C4.19767 5 3.74995 5.44772 3.74995 6V8C3.74995 9.35807 4.65235 10.5054 5.89023 10.875C6.0029 10.9086 6.1049 10.9733 6.17544 11.0674L7.14992 12.3667C7.21483 12.4532 7.24992 12.5585 7.24992 12.6667V15.9296C7.24992 16.5983 6.91572 17.2228 6.35932 17.5937L1.12396 21.084C0.712343 21.3584 0.906609 22 1.40131 22H24.0985C24.5932 22 24.7875 21.3584 24.3759 21.084L19.1405 17.5937C18.5841 17.2228 18.2499 16.5983 18.2499 15.9296V12.6667C18.2499 12.5585 18.285 12.4532 18.3499 12.3667L19.3244 11.0674C19.3949 10.9733 19.4969 10.9087 19.6096 10.875C20.8475 10.5054 21.75 9.35809 21.75 8V6C21.75 5.44772 21.3022 5 20.75 5H20.2499C19.9738 5 19.7499 4.77614 19.7499 4.5V2.5Z' fill='%23ED6A53'/%3E%3Cpath d='M11.25 14L11.4736 14.4472C11.643 14.786 11.9893 15 12.368 15H13.132C13.5107 15 13.857 14.786 14.0264 14.4472L14.25 14' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.25 16L10.75 20' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.25 16L14.75 20' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.58459 11.5229C4.37939 11.3381 4.06324 11.3547 3.87845 11.5599C3.69366 11.7651 3.71021 12.0812 3.91541 12.266L4.58459 11.5229ZM3.91541 16.5229C3.71021 16.7077 3.69366 17.0239 3.87845 17.2291C4.06324 17.4343 4.37939 17.4508 4.58459 17.266L3.91541 16.5229ZM3.91541 12.266C4.37456 12.6795 4.75 13.5564 4.75 14.4998H5.75C5.75 13.3473 5.3039 12.1707 4.58459 11.5229L3.91541 12.266ZM4.75 14.4998C4.75 15.4095 4.39673 16.0895 3.91541 16.5229L4.58459 17.266C5.28174 16.6382 5.75 15.6858 5.75 14.4998H4.75Z' fill='%23ED6A53'/%3E%3Cpath d='M20.9154 11.5229C21.1206 11.3381 21.4368 11.3547 21.6215 11.5599C21.8063 11.7651 21.7898 12.0812 21.5846 12.266L20.9154 11.5229ZM21.5846 16.5229C21.7898 16.7077 21.8063 17.0239 21.6215 17.2291C21.4368 17.4343 21.1206 17.4508 20.9154 17.266L21.5846 16.5229ZM21.5846 12.266C21.1254 12.6795 20.75 13.5564 20.75 14.4998H19.75C19.75 13.3473 20.1961 12.1707 20.9154 11.5229L21.5846 12.266ZM20.75 14.4998C20.75 15.4095 21.1033 16.0895 21.5846 16.5229L20.9154 17.266C20.2183 16.6382 19.75 15.6858 19.75 14.4998H20.75Z' fill='%23ED6A53'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1784_51070'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.75)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }
        [data-condition="second"] {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.86629 3.63693C2.52415 2.86711 3.08766 2 3.93009 2H20.5697C21.4121 2 21.9756 2.86708 21.6335 3.63688L20.8419 5.41796C19.8047 7.75166 19.4952 10.3439 19.9538 12.8562C20.336 14.9494 20.5673 17.0673 20.646 19.1936L20.7051 20.7906C20.7296 21.4512 20.2007 22 19.5396 22H13.2499C12.9738 22 12.7499 21.7761 12.7499 21.5V19.5C12.7499 19.4033 12.8093 19.3014 12.905 19.2874C13.4825 19.2025 14.0473 19.0047 14.5651 18.694L15.0071 18.4287C15.2439 18.2867 15.3207 17.9795 15.1786 17.7428C15.0366 17.506 14.7294 17.4292 14.4926 17.5713L14.0506 17.8365C12.9422 18.5015 11.5575 18.5015 10.4492 17.8365L10.0071 17.5713C9.77035 17.4292 9.46322 17.506 9.32114 17.7428C9.17907 17.9795 9.25585 18.2867 9.49264 18.4287L9.93466 18.694C10.4525 19.0047 11.0172 19.2025 11.5948 19.2874C11.6905 19.3014 11.7499 19.4033 11.7499 19.5V21.5C11.7499 21.7761 11.526 22 11.2499 22H4.96052C4.2993 22 3.77025 21.451 3.79473 20.7902L3.8539 19.1931C3.93266 17.0671 4.16394 14.9495 4.54594 12.8566C5.00456 10.344 4.695 7.75152 3.65767 5.41753L2.86629 3.63693Z' fill='%23ED6A53'/%3E%3Cpath d='M12.75 8H11.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.55 11.6C6.32909 11.4343 6.01569 11.4791 5.85 11.7C5.68431 11.9209 5.72909 12.2343 5.95 12.4L6.55 11.6ZM7.79309 15.2031C7.90525 15.4554 8.20073 15.5691 8.45307 15.4569C8.70541 15.3448 8.81906 15.0493 8.70691 14.7969L7.79309 15.2031ZM5.95 12.4L6.74186 12.9939L7.34186 12.1939L6.55 11.6L5.95 12.4ZM6.89876 13.1908L7.79309 15.2031L8.70691 14.7969L7.81257 12.7847L6.89876 13.1908ZM6.74186 12.9939C6.8101 13.0451 6.86412 13.1129 6.89876 13.1908L7.81257 12.7847C7.70864 12.5508 7.54659 12.3474 7.34186 12.1939L6.74186 12.9939Z' fill='white'/%3E%3Cpath d='M17.95 11.6C18.1709 11.4343 18.4843 11.4791 18.65 11.7C18.8157 11.9209 18.7709 12.2343 18.55 12.4L17.95 11.6ZM16.7069 15.2031C16.5948 15.4554 16.2993 15.5691 16.0469 15.4569C15.7946 15.3448 15.6809 15.0493 15.7931 14.7969L16.7069 15.2031ZM18.55 12.4L17.7581 12.9939L17.1581 12.1939L17.95 11.6L18.55 12.4ZM17.6012 13.1908L16.7069 15.2031L15.7931 14.7969L16.6874 12.7847L17.6012 13.1908ZM17.7581 12.9939C17.6899 13.0451 17.6359 13.1129 17.6012 13.1908L16.6874 12.7847C16.7914 12.5508 16.9534 12.3474 17.1581 12.1939L17.7581 12.9939Z' fill='white'/%3E%3Cpath d='M2.13539 6.68145C1.95946 6.4686 1.64429 6.43868 1.43145 6.61461C1.2186 6.79054 1.18868 7.10571 1.36461 7.31855L2.13539 6.68145ZM1.36461 13.3986C1.18868 13.6114 1.2186 13.9266 1.43145 14.1025C1.64429 14.2785 1.95946 14.2485 2.13539 14.0357L1.36461 13.3986ZM1.36461 7.31855C1.85349 7.91001 2.25 9.15922 2.25 10.5H3.25C3.25 9.0252 2.82498 7.51571 2.13539 6.68145L1.36461 7.31855ZM2.25 10.5C2.25 11.8131 1.86708 12.7907 1.36461 13.3986L2.13539 14.0357C2.81139 13.2179 3.25 12.0025 3.25 10.5H2.25Z' fill='%23ED6A53'/%3E%3Cpath d='M22.3646 6.68145C22.5405 6.4686 22.8557 6.43868 23.0686 6.61461C23.2814 6.79054 23.3113 7.10571 23.1354 7.31855L22.3646 6.68145ZM23.1354 13.3986C23.3113 13.6114 23.2814 13.9266 23.0686 14.1025C22.8557 14.2785 22.5405 14.2485 22.3646 14.0357L23.1354 13.3986ZM23.1354 7.31855C22.6465 7.91001 22.25 9.15922 22.25 10.5H21.25C21.25 9.0252 21.675 7.51571 22.3646 6.68145L23.1354 7.31855ZM22.25 10.5C22.25 11.8131 22.6329 12.7907 23.1354 13.3986L22.3646 14.0357C21.6886 13.2179 21.25 12.0025 21.25 10.5H22.25Z' fill='%23ED6A53'/%3E%3C/svg%3E");
            }
        }
        [data-condition="third"] {
            display: none;
        }
    }
    @media (max-width: $tablet) {
        padding: 8px;
        margin-bottom: 20px;
    }
}

.reports-weeks-all__element-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    @media (max-width: $tablet) {
        margin-bottom: 14px;
    }
}

.reports-weeks-all__element--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: $tablet) {
        font-size: 14px;
        line-height: 130%;
    }
}

.reports-weeks-all__element--date {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    opacity: .4;
    @media (max-width: $tablet) {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
    }
}

.reports-weeks-all__element-content {
    display: grid;
    grid-gap: 12px 10px;
    @media (max-width: $tablet) {
        grid-gap: 10px;
    }
}

.reports-weeks-all__element-content--element {
    background: #fff;
    border-radius: 5px;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    &[data-condition] {
        position: relative;
        &:before {
            width: 24px;
            height: 24px;
            margin-right: 6px;
        }
    }
    &[data-condition="first"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M22.895 16.8895C19.2458 16.0337 18.0514 15.4334 17.2643 15.0356C17.3019 15.1491 17.3422 15.2624 17.3858 15.375C17.4309 15.4916 17.4792 15.6074 17.5316 15.7223C17.6175 15.9127 17.7134 16.1002 17.82 16.2835L17.4972 16.4714L17.1741 16.6593C17.1382 16.5975 17.1031 16.5349 17.069 16.4714C16.8449 16.0574 16.6581 15.6097 16.5092 15.1324C16.392 14.7568 16.2982 14.3627 16.2284 13.9516C16.0925 13.1494 16.0473 12.2809 16.0941 11.3709C16.1201 10.8688 16.1708 10.4112 16.2281 10.0206C15.9598 10.2298 15.6868 10.4184 15.4098 10.5853C14.4052 11.1911 13.371 11.4982 12.3355 11.4982C11.3003 11.4982 10.266 11.1911 9.26116 10.5853C8.95157 10.3985 8.64662 10.185 8.34805 9.94531C8.40979 10.3519 8.46566 10.836 8.49306 11.3708C8.54021 12.2811 8.49484 13.1494 8.35909 13.9516C8.28934 14.3626 8.19575 14.7567 8.07832 15.1323C7.9294 15.6098 7.74258 16.0575 7.51858 16.4713C7.48442 16.5349 7.44937 16.5973 7.41343 16.6592L6.76719 16.2834C6.87376 16.1004 6.96966 15.9128 7.05595 15.7225C7.10808 15.6077 7.1563 15.4915 7.20167 15.375C7.24526 15.2624 7.28565 15.149 7.32302 15.0355C6.53571 15.4335 5.3413 16.0337 1.69234 16.8895L1.5 16.9345V21.9999H23.0876L23.0878 16.9345L22.895 16.8895ZM9.34757 11.7731L10.0931 11.7232C10.1751 12.955 10.092 14.1016 9.84539 15.1321C9.84343 15.141 9.84147 15.1497 9.83916 15.1584L9.73027 15.1321L9.11268 14.9824C9.34629 14.0192 9.42529 12.9394 9.34754 11.7731H9.34757ZM8.5809 16.4714C8.68854 16.2532 8.78569 16.0248 8.87109 15.7889L9.57372 16.0437C9.52123 16.1889 9.4643 16.3315 9.4038 16.4714C9.29064 16.7331 9.16414 16.9845 9.02571 17.2224L8.37984 16.8464C8.45065 16.7249 8.51755 16.5998 8.58089 16.4714L8.5809 16.4714ZM9.25396 20.4973C9.04722 20.5127 8.81698 20.5223 8.56577 20.5223C7.484 20.5223 6.00992 20.3418 4.30255 19.6587L4.58011 18.965C6.53317 19.7461 8.14904 19.8256 9.1609 19.7546C10.2576 19.6776 10.9019 19.4123 10.9083 19.4096L11.1999 20.0978C11.1702 20.1101 10.4619 20.4071 9.25411 20.4973L9.25396 20.4973ZM16.0215 20.5223C15.7701 20.5223 15.5401 20.5126 15.3333 20.4973C14.1254 20.407 13.4173 20.1104 13.3877 20.098L13.5342 19.7541L13.5424 19.7349L13.6794 19.4098C13.6794 19.4098 13.6799 19.41 13.6804 19.4103C13.7091 19.4221 14.3498 19.6793 15.4267 19.7548C16.4382 19.8258 18.0542 19.7462 20.0075 18.9652L20.2851 19.6589C18.5779 20.3417 17.1033 20.5223 16.0217 20.5223L16.0215 20.5223Z' fill='%23ED6A53'/%3E%3Cpath d='M4.42969 2C5.00332 4.32351 6.21268 6.69557 7.77498 8.38314C7.89401 8.51195 8.01535 8.6365 8.13848 8.75677C8.27121 8.88648 8.40608 9.01138 8.54308 9.13041C9.69194 10.1311 10.9872 10.7513 12.3366 10.7513C13.6859 10.7513 14.9812 10.1311 16.1301 9.13041C16.2671 9.01138 16.4021 8.88648 16.5347 8.75677C16.658 8.6365 16.7789 8.51195 16.8981 8.38314C18.4607 6.69571 19.67 4.32365 20.2434 2H4.42969ZM12.2945 7.98778C11.5159 7.98778 10.7912 7.78228 10.3067 7.42412L10.7512 6.82329C11.1044 7.08466 11.6816 7.24052 12.2945 7.24052C12.908 7.24052 13.4852 7.08466 13.8384 6.82329L14.2828 7.42412C13.7981 7.78228 13.0736 7.98778 12.2945 7.98778H12.2945Z' fill='%23ED6A53'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }
    &[data-condition="second"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.67577 2.81612C5.53553 2.41756 5.83127 2 6.25378 2H18.7457C19.1682 2 19.4639 2.41755 19.3237 2.81611L18.6817 4.64083C17.9455 6.73295 18.3296 9.05617 19.6998 10.8001C21.7806 13.4484 22.514 16.9126 21.685 20.1769L21.3191 21.6174C21.262 21.8424 21.0594 22 20.8272 22H13.4998C13.2236 22 12.9998 21.7761 12.9998 21.5V19.5C12.9998 19.3526 13.0847 19.1569 13.2301 19.133C13.8495 19.0313 14.4523 18.7992 14.9959 18.4368L15.7771 17.916C16.0069 17.7628 16.0689 17.4524 15.9158 17.2226C15.7626 16.9929 15.4522 16.9308 15.2224 17.084L14.4412 17.6048C13.2655 18.3885 11.7339 18.3885 10.5583 17.6048L9.77709 17.084C9.54732 16.9308 9.23689 16.9929 9.08371 17.2226C8.93053 17.4524 8.99262 17.7628 9.22239 17.916L10.0036 18.4368C10.5472 18.7992 11.15 19.0313 11.7694 19.133C11.9148 19.1569 11.9998 19.3526 11.9998 19.5V21.5C11.9998 21.7761 11.7759 22 11.4998 22H4.17227C3.94008 22 3.73749 21.8424 3.68033 21.6174L3.31449 20.1768C2.4855 16.9125 3.2189 13.4484 5.29964 10.8001C6.66988 9.05618 7.05391 6.73295 6.31779 4.64081L5.67577 2.81612Z' fill='%23ED6A53'/%3E%3Cpath d='M12.5 7L12.5 8' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.98402 3.32207C3.80809 3.10923 3.49292 3.07931 3.28008 3.25524C3.06724 3.43117 3.03731 3.74633 3.21325 3.95918L3.98402 3.32207ZM3.21325 10.0392C3.03731 10.2521 3.06724 10.5672 3.28008 10.7432C3.49292 10.9191 3.80809 10.8892 3.98402 10.6763L3.21325 10.0392ZM3.21325 3.95918C3.78171 4.64691 4.50006 5.77032 4.50006 6.9992H5.50006C5.50006 5.4125 4.59402 4.06006 3.98402 3.32207L3.21325 3.95918ZM4.50006 6.9992C4.50006 8.22808 3.78171 9.35149 3.21325 10.0392L3.98402 10.6763C4.59402 9.93834 5.50006 8.5859 5.50006 6.9992H4.50006Z' fill='%23ED6A53'/%3E%3Cpath d='M21.1146 3.42168C21.2905 3.20884 21.6057 3.17891 21.8186 3.35485C22.0314 3.53078 22.0613 3.84594 21.8854 4.05879L21.1146 3.42168ZM21.8854 10.1388C22.0613 10.3517 22.0314 10.6668 21.8186 10.8428C21.6057 11.0187 21.2905 10.9888 21.1146 10.7759L21.8854 10.1388ZM21.8854 4.05879C21.3169 4.74652 20.5986 5.86993 20.5986 7.09881H19.5986C19.5986 5.51211 20.5046 4.15967 21.1146 3.42168L21.8854 4.05879ZM20.5986 7.09881C20.5986 8.32769 21.3169 9.4511 21.8854 10.1388L21.1146 10.7759C20.5046 10.038 19.5986 8.68551 19.5986 7.09881H20.5986Z' fill='%23ED6A53'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }
    &[data-condition="third"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.17577 2.81612C6.03553 2.41756 6.33127 2 6.75378 2H18.2457C18.6683 2 18.964 2.41755 18.8237 2.81611L18.1817 4.64083C17.4456 6.73295 17.8296 9.05617 19.1999 10.8001C21.2807 13.4484 22.0141 16.9126 21.185 20.1769L20.8192 21.6174C20.762 21.8424 20.5594 22 20.3273 22H13.4998C13.2237 22 12.9998 21.7761 12.9998 21.5V19.5C12.9998 19.3526 13.0848 19.1569 13.2302 19.133C13.8496 19.0313 14.4524 18.7992 14.996 18.4368L15.7772 17.916C16.0069 17.7628 16.069 17.4524 15.9158 17.2226C15.7627 16.9929 15.4522 16.9308 15.2225 17.084L14.4413 17.6048C13.2656 18.3885 11.734 18.3885 10.5584 17.6048L9.77715 17.084C9.54739 16.9308 9.23696 16.9929 9.08378 17.2226C8.9306 17.4524 8.99269 17.7628 9.22245 17.916L10.0037 18.4368C10.5473 18.7992 11.1501 19.0313 11.7695 19.133C11.9149 19.1569 11.9998 19.3526 11.9998 19.5V21.5C11.9998 21.7761 11.776 22 11.4998 22H4.67227C4.44008 22 4.23749 21.8424 4.18033 21.6174L3.81449 20.1768C2.9855 16.9125 3.7189 13.4484 5.79964 10.8001C7.16988 9.05618 7.55391 6.73295 6.81779 4.64081L6.17577 2.81612Z' fill='%23ED6A53'/%3E%3Cpath d='M12.5 7L12.5 8' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.95762 13.2014C3.06888 12.9487 2.95419 12.6536 2.70145 12.5424C2.44871 12.4311 2.15364 12.5458 2.04238 12.7986L2.95762 13.2014ZM1.827 21.681C1.92697 21.9384 2.21669 22.0661 2.4741 21.9661C2.73151 21.8661 2.85913 21.5764 2.75916 21.319L1.827 21.681ZM2 17.5C2 15.7098 2.55187 14.1232 2.95762 13.2014L2.04238 12.7986C1.60722 13.7871 1 15.5177 1 17.5L2 17.5ZM2.75916 21.319C2.39149 20.3723 2 19.0077 2 17.5L1 17.5C0.999999 19.1726 1.43224 20.6646 1.827 21.681L2.75916 21.319Z' fill='%23ED6A53'/%3E%3Cpath d='M22.0424 13.2014C21.9311 12.9487 22.0458 12.6536 22.2986 12.5424C22.5513 12.4311 22.8464 12.5458 22.9576 12.7986L22.0424 13.2014ZM23.173 21.681C23.073 21.9384 22.7833 22.0661 22.5259 21.9661C22.2685 21.8661 22.1409 21.5764 22.2408 21.319L23.173 21.681ZM23 17.5C23 15.7098 22.4481 14.1232 22.0424 13.2014L22.9576 12.7986C23.3928 13.7871 24 15.5177 24 17.5L23 17.5ZM22.2408 21.319C22.6085 20.3723 23 19.0077 23 17.5L24 17.5C24 19.1726 23.5678 20.6646 23.173 21.681L22.2408 21.319Z' fill='%23ED6A53'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }
    &:last-child {
        grid-column: 4/1;
    }
    @media (max-width: $tablet) {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        &[data-condition] {
            &:before {
                margin-right: 4px;
            }
        }
    }
    @media (max-width: 340px) {
        line-height: 1;
        &[data-condition] {
            &:before {
                width: 18px;
                height: 18px;
                background-size: cover;
            }
        }
    }
}

.reports-weeks-all__element-content--element-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[data-result="up"] {
    position: relative;
    display: flex;
    align-items: center;
    &:after {
        content: '';
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 14.25L9.5 3.75' stroke='%2390959E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.25 9L9.5 3.75L14.75 9' stroke='%2390959E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        margin-left: 2px;
        display: block;
    }
}

[data-result="down"] {
    position: relative;
    display: flex;
    align-items: center;
    &:after {
        content: '';
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.04038 13.9596C8.29422 14.2135 8.70578 14.2135 8.95962 13.9596L13.0962 9.82305C13.35 9.5692 13.35 9.15765 13.0962 8.90381C12.8424 8.64997 12.4308 8.64997 12.177 8.90381L8.5 12.5808L4.82304 8.90381C4.5692 8.64996 4.15765 8.64996 3.90381 8.90381C3.64996 9.15765 3.64996 9.5692 3.90381 9.82304L8.04038 13.9596ZM7.85 3.5L7.85 13.5L9.15 13.5L9.15 3.5L7.85 3.5Z' fill='%232CA869'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        margin-left: 2px;
        display: block;
    }
}

.reports-weeks-all__element-content--element-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 56px;
    @media (max-width: $tablet) {
        padding: 8px 16px;
    }
}

.reports-weeks-all__element-content--element-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 8px;
    opacity: .4;
    @media (max-width: $tablet) {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        margin-bottom: 3px;
        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.reports-weeks-all__element-content--element-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    &:after {
        margin-left: 4px
    }
    @media (max-width: $tablet) {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        &:after {
            margin-left: 2px;
            width: 18px;
            height: 18px;
        }
    }
}
