.login-form {
  width: 556px;
  background: #FFFFFF;
  box-shadow: 5px 4px 15px rgba(119, 119, 119, 0.24);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 44px 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-form .section-registation__field {
  flex-wrap: wrap;
}

.login-form .section-registation__field .section-registation__field--col {
  position: relative;
}

.login-form .section-registation__field .section-registation__field--col input[type="password"]::-ms-reveal, .login-form .section-registation__field .section-registation__field--col input[type="password"]::-ms-clear {
  display: none;
}

.login-form .section-registation__field .section-registation__field--col:not(:last-child) {
  margin-right: 0;
}

.login-form__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  font-family: 'RoadRadio';
  text-align: center;
  margin-bottom: 32px;
}

.login-form__btn {
  height: 52px;
}

.login-form__create-account {
  margin-top: 72px;
  text-align: center;
}

.login-form__create-account--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 16px;
}

.login-form__create-account--link {
  height: 52px;
}

.login-form__password-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #467EF3;
  margin-top: 6px;
  width: 100%;
  text-align: right;
}

.login-form__view {
  position: absolute;
  top: 50%;
  right: 14px;
}

.login-form__view svg {
  width: 24px;
  height: 24px;
  fill: transparent;
}
