.take-photo {
    width: 820px;
    max-width: 100%;
    @media (max-width: $tablet) {
        margin-top: 24px
    }
}

.page-photo {
    &:not(.content--page__visible) h1.hello {
        display: block;
        margin-bottom: 24px;
    }
    @media (max-width: $tablet) {
        .link-pref-page {
            transform: translateY(5px);
        }
        &:not(.content--page__visible) h1.hello {
            margin-top: 40px;
            font-family: 'RoadRadio';
            text-align: left;
            font-weight: 400;
            font-size: 26px;
            line-height: 26px;
        }
    }
}

.take-photo__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}

.take-photo__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.take-photo__advice {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    opacity: .4;
    @media (max-width: $tablet) {
        font-size: 10px;
        line-height: 110%;
    }
}

.take-photo__container {
    background: $accent2;
    padding: 24px 57px 24px 24px;
    border-radius: 15px;
    @media (max-width: $tablet) {
        padding: 20px 13px 20px 0;
        .take-photo__container-box {
            height: 320px;
            overflow-y: scroll;
            padding-left: 16px;
            margin-right: -6px;
            padding-right: 10px;
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                background: #F5BAA6;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-button:end {
                background-color: transparent;
                height: 42%;
                display: block;
            }
            &::-webkit-scrollbar-thumb {
                background: $outline;
                border-radius: 10px;
            }
        }
    }
}

.take-photo__container-list {
    list-style: none;
    counter-reset: li;
    padding-left: 23px;
    line-height: 24px;
    &>li {
        position: relative;
        padding-left: 28px;
        &:before {
            counter-increment: li;
            content: counter(li, decimal-leading-zero);
            position: absolute;
            left: -26px;
            top: 2px;
            color: $outline;
            font-weight: 700;
            font-size: 14px;
            line-height: 130%;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 1px;
            top: 3px;
            // outline: 2px solid var(--outline);
            width: 14.5px;
            height: 14.5px;
            border: 3.5px solid #fff;
            background: $outline;
            border-radius: 50%;
            box-shadow: 0 0 0 1.5px $outline;
        }
        &:last-child {
            .take-photo__container-list--element-box:after {
                display: none
            }
        }
        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }
}

.take-photo__container-list--title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 2px;
    @media (max-width: $tablet) {
        font-size: 14px;
        line-height: 130%;
    }
}

.take-photo__container-list--description {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #7B6F72;
    display: block;
    @media (max-width: $tablet) {
        font-size: 12px;
        line-height: 130%;
    }
}

.take-photo__container-list--element-box {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: -20.3px;
        top: 23px;
        width: 1px;
        height: 100%;
        // border-style: solid;
        // border-width: 1px;
        background-image: url("data:image/svg+xml,%3Csvg width='1' height='56' viewBox='0 0 1 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.5' y1='0.5' x2='0.500002' y2='55.5' stroke='%230E0E0E' stroke-linecap='round' stroke-dasharray='4 4'/%3E%3C/svg%3E%0A");
    }
    &:before {
        // content: '';
        // position: absolute;
        // display: block;
        // left: 1px;
        // top: 3px;
        // width: 14px;
        // height: 14px;
        // border: 2px solid var(--outline);
        // background: $outline;
        // border-radius: 50%;
    }
}

.take-photo__container--link {
    background: $accent;
    border-radius: 15px;
    padding: 16px;
    color: #fff;
    width: 264px;
    display: flex;
    height: 67px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    &:hover {
        background: #64DEA0
    }
    .take-photo__container--link-icon {
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 25px
        }
    }
    @media (max-width:$tablet) {
        width: 100%;
        font-size: 14px;
    }
}

.take-photo__upload {
    display: flex;
    align-items: flex-start;
    margin: 24px 0 145px 0;
    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 96px;
    }
}

.take-photo__upload-box {
    display: flex;
    align-items: center;
}

.take-photo__upload--photo {
    width: 80px;
    height: 80px;
    border: 0.967453px dashed #0E0E0E;
    border-radius: 10px 11.6094px 11.6094px 11.6094px;
    position: relative;
    display: flex;
    align-items: center;
    svg {
        width: 20px;
        height: auto;
        margin: auto auto 18px auto;
        display: flex;
    }
    &._active {
        svg {
            display: none;
        }
        .take-photo__upload-section-file {
            background: $outline;
            cursor: pointer;
            top: auto;
            bottom: -11px
        }
        .take-photo__upload--file {
            pointer-events: none;
        }
        .take-photo__upload-section-file--icon {
            span:nth-of-type(1) {
                opacity: 0;
            }
            span:nth-of-type(2) {
                transform: translate(4.7px, 9px) rotate(0);
            }
        }
    }
    &:not(:last-child) {
        margin-right: 24px;
    }
}

.take-photo__upload-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.take-photo__upload-section-file {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: $accent;
    border-radius: 50%;
    z-index: 2;
    input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }
}

.take-photo__upload-section-file--icon {
    span {
        background: #fff;
        width: 11px;
        height: 1px;
        border-radius: 20px;
        display: block;
        transition: .3s ease;
        &:nth-of-type(1) {
            transform: translate(5px, 10px);
        }
        &:nth-of-type(2) {
            transform: translate(4.7px, 9px) rotate(90deg);
        }
    }
}

.take-photo__upload--btn {
    width: 287px;
    height: 52px;
    margin-left: auto;
    @media (max-width: $tablet) {
        margin: 26px 0 0 0;
        width: 100%;
        height: 45px;
    }
}
