.check-list {
    position: relative;
    margin: 70px 30px 40px 0;
    @media (max-width: $tablet) {
        margin: 28px 0 100px 0;
    }
}

.check-list__container {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 2px solid $accent;
    border-radius: 15px;
    @media (max-width: $tablet) {
        flex-direction: column;
        padding: 20px 0
    }
}

.check-list__left {
    display: flex;
    align-items: center;
    width: 320px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('../img/cyrlce-background.svg') no-repeat;
        z-index: 1;
    }
    @media (max-width:$tablet) {
        &:after {
            background: transparent;
        }
    }
}

.check-list__left-text {
    font-weight: 400;
    font-size: 65px;
    line-height: 90%;
    color: $accent;
    padding-left: 50px;
    font-family: 'RoadRadio';
    z-index: 2;
    @media (max-width: $tablet) {
        font-size: 18px;
        line-height: 21px;
        font-family: 'Raleway';
        color: $main;
        padding-left: 19px;
        font-weight: 700;
    }
}

.check-list__form {
    padding: 45px 0;
    display: flex;
    align-items: center;
    margin-left: 50px;
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 26px 51px;
    }
    @media (max-width:$tablet) {
        margin-left: 19px;
        padding: 16px 0 0 0;
        form {
            grid-template-columns: 1fr;
            grid-gap: 18px;
        }
    }
}

.check-list__info {
    position: absolute;
    right: 24px;
    top: 25px;
    z-index: 1;
    cursor: pointer;
    &:hover {
        .check-list__info-tooltip {
            opacity: 1;
            transform: translate3d(0, -20px, 0);
            z-index: 9;
            pointer-events: all;
        }
    }
    svg {
        width: 30px;
        height: 30px;
    }
    @media (max-width:$tablet) {
        top: 18px;
        right: 18px;
        &:hover {
            .check-list__info-tooltip {
                transform: translate3d(0, -10px, 0);
            }
        }
    }
}

.check-list__info-tooltip {
    position: absolute;
    right: -5px;
    left: auto;
    bottom: 28px;
    width: 169px;
    padding: 6px 9px;
    background: var(--second);
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    opacity: 0;
    z-index: -2;
    transform: translate3d(0, -10px, 0);
    transition: .4s;
    pointer-events: none;
    &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66268 12.5129C8.87074 13.6975 7.12926 13.6975 6.33732 12.5129L0.553807 3.86152C-0.334603 2.53259 0.617944 0.75 2.21649 0.75L13.7835 0.750001C15.3821 0.750002 16.3346 2.53258 15.4462 3.86152L9.66268 12.5129Z' fill='%23D2FADF'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        bottom: -12px;
        right: 8px;
    }
    @media (max-width:$tablet) {
        transform: translate3d(0, -5px, 0);
    }
}

.check-list__form-field {
    display: flex;
    align-items: center;
    position: relative;
    label {
        border-radius: 2px;
        border: 2px solid $accent;
        margin-right: 16px;
        width: 24px;
        height: 24px;
        z-index: 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='10' r='1.25' fill='%232CA869' stroke='%232CA869' stroke-width='0.5' stroke-linecap='round'/%3E%3Ccircle cx='15' cy='10' r='1.25' fill='%232CA869' stroke='%232CA869' stroke-width='0.5' stroke-linecap='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.62888 15C8.34911 15 8.20922 15 8.13458 15.1068C8.05995 15.2136 8.10322 15.3318 8.18976 15.5683C8.70588 16.9788 10.2167 18 12 18C13.7833 18 15.2941 16.9788 15.8102 15.5683C15.8968 15.3318 15.94 15.2136 15.8654 15.1068C15.7908 15 15.6509 15 15.3711 15H8.62888Z' fill='%232CA869'/%3E%3C/svg%3E%0A");
            background-position: center 75%;
            transform: scale(0);
            transition: .4s ease;
        }
    }
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        z-index: 1;
        &:checked {
            &+label:after {
                transform: scale(1);
            }
        }
    }
    @media (max-width:$tablet) {
        label,
        input[type="checkbox"] {
            width: 32px;
            height: 32px;
        }
        label {
            width: 24px;
            height: 24px;
            margin-right: 15px;
            border: 1px solid $accent;
            &:after {
                background-position: 50% 58%;
                background-size: 130%;
            }
        }
    }
}

.check-list__form-field--text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: $tablet) {
        font-size: 14px;
        line-height: 130%;
    }
}
