.check-list {
    margin: 70px 0 40px 0;
    border: 2px solid $accent;
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: $tablet) {
        margin: 28px 0 100px 0;
    }
}

.check-list__container {
    display: flex;
    @media (max-width: $tablet) {
        flex-direction: column;
        padding: 19px 0
    }
}

.check-list__left {
    display: flex;
    align-items: center;
    width: 320px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: -130%;
        top: -90px;
        width: 722px;
        height: 428px;
        border-radius: 48%;
        background: #D2FADF;
        z-index: 1;
    }
    @media (max-width:$tablet) {
        &:after {
            background: transparent;
        }
    }
}

.check-list__left-text {
    font-weight: 400;
    font-size: 65px;
    line-height: 90%;
    color: $accent;
    padding-left: 50px;
    font-family: 'RoadRadio';
    z-index: 2;
    @media (max-width: $tablet) {
        font-size: 18px;
        line-height: 21px;
        font-family: 'Raleway';
        color: $main;
        padding-left: 19px;
        font-weight: 700;
    }
}

.check-list__form {
    padding: 45px 0;
    display: flex;
    align-items: center;
    margin-left: 50px;
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 26px 51px;
    }
    @media (max-width:$tablet) {
        margin-left: 19px;
        padding: 16px 0 0 0;
        form {
            grid-template-columns: 1fr;
            grid-gap: 18px;
        }
    }
}

.check-list__form-field {
    display: flex;
    align-items: center;
    position: relative;
    label {
        border-radius: 2px;
        border: 2px solid $accent;
        margin-right: 16px;
        width: 24px;
        height: 24px;
        z-index: 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #ccc;
            transform: scale(0);
            transition: .4s ease;
        }
    }
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        z-index: 1;
        &:checked {
            &+label:after {
                transform: scale(1);
            }
        }
    }
    @media (max-width:$tablet) {
        label,
        input[type="checkbox"] {
            width: 18px;
            height: 18px
        }
        label {
            margin-right: 15px;
        }
    }
}

.check-list__form-field--text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: $tablet) {
        font-size: 14px;
        line-height: 130%;
    }
}