.varios-report {
    margin-top: 70px;
    //  margin-right: -30px;
    @media (max-width: $tablet) {
        margin-top: 28px;
    }
}

.varios-report__top {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    @media (max-width: $tablet) {
        margin-right: 0;
        width: 100%
    }
}

.varios-report__top-calendar {
    display: flex;
    align-items: center;
    svg {
        width: 24px;
        height: 24px;
        fill: transparent
    }
    @media (max-width: $tablet) {
        width: 100%;
        justify-content: center;
        .varios-report__top-calendar-left {
            order: 1;
            margin-right: auto;
        }
        .varios-report__top-calendar-right {
            order: 4;
            margin-left: auto;
        }
        .varios-report__top-calendar-text {
            order: 3
        }
        .varios-report__top-calendar-icon {
            order: 2;
            margin-left: 0
        }
    }
}

.varios-report__top-calendar-text {
    margin: 0 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.varios-report__top-calendar-icon {
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    input {
        position: absolute;
        left: -7px;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        color: transparent;
        opacity: 0;
    }
}

.varios-report__bottom {
    .swiper-slide {
        width: 207px;
        height: 176px;
        //  margin-right: 16px;
    }
    .swiper {
        overflow: visible;
        padding-right: 30px;
    }
    @media (max-width:$tablet) {
        .swiper {
            padding-right: 0;
        }
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 11px;
        }
        .swiper-slide {
            width: auto;
            height: auto;
            .varios-report__bottom-element-info {
                display: none;
            }
            &[data-block="report"] {
                order: 5;
                grid-column: 3/1;
                .varios-report__bottom-element {
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: nowrap;
                }
                .varios-report__bottom-element-icon {
                    transform: translateY(-0.5px);
                }
                .varios-report__bottom-element--container {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
                .varios-report__bottom-element-title {
                    position: static;
                }
                .varios-report__bottom-element-btn {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-top: 0;
                    position: relative;
                    color: transparent;
                    &:active {
                        background: $accent-active;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        left: 54%;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        width: 19px;
                        height: 10px;
                        background: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4714 5.4714C17.7318 5.21105 17.7318 4.78895 17.4714 4.5286L13.2288 0.285954C12.9684 0.0256052 12.5463 0.0256052 12.286 0.285954C12.0256 0.546304 12.0256 0.968414 12.286 1.22876L16.0572 5L12.286 8.77124C12.0256 9.03159 12.0256 9.4537 12.286 9.71405C12.5463 9.97439 12.9684 9.97439 13.2288 9.71405L17.4714 5.4714ZM0.333344 5.66667H17V4.33333H0.333344V5.66667Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;
                    }
                }
            }
            &:not([data-block]) {
                .varios-report__bottom-element {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: relative;
                    padding-top: 14px;
                }
                .varios-report__bottom-element--container {
                    width: 100%;
                    margin-left: 0;
                }
                .varios-report__bottom-element-title {
                    position: absolute;
                    left: 48px;
                    top: 19px;
                    width: auto;
                }
            }
            &[data-block="diary"] {
                order: 0;
                grid-column: 3/1;
                .varios-report__bottom-element {
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
                .varios-report__bottom-element-title {
                    position: static;
                }
                .varios-report__bottom-element--container {
                    width: 82%;
                    margin-left: 10px;
                }
                .varios-report__bottom-element-btn {
                    font-size: 18px;
                    height: 45px
                }
                .varios-report__bottom-element-icon {
                    transform: translateY(-6px);
                }
            }
        }
    }
    @media (max-width:400px) {
        .swiper-wrapper {
            grid-template-columns: repeat(2, 48%);
        }
    }
}

.varios-report__bottom-element {
    width: 100%;
    height: 100%;
    padding: 24px 20px 20px;
    border: 2px solid $outline;
    border-radius: 15px;
    position: relative;
    &[data-background] {
        background: $accent2;
        border: 2px solid transparent;
    }
    &[data-update] {
        .varios-report__bottom-element-btn {
            background: $accent;
            color: transparent;
            position: relative;
            &:after {
                content: 'Обновить дневник';
                color: #fff;
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                font-size: 14px;
                line-height: 130%;
            }
        }
    }
    &[data-disabled] {
        opacity: 0.4;
        input {
            pointer-events: none;
        }
    }
    svg {
        width: 32px;
        height: 32px
    }
    @media (max-width:$tablet) {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        display: flex;
        padding: 16px;
        .varios-report__bottom-element-icon {
            grid-row: 4/1;
            // transform: translateY(-6px);
        }
        svg {
            width: 24px;
            height: 24px
        }
    }
}

.varios-report__bottom-element--container {
    @media (max-width: $tablet) {
        width: 81%;
        margin-left: 12px;
    }
}

.varios-report__bottom-element-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    margin-top: 9px;
    width: 100%;
    @media (max-width: $tablet) {
        margin-top: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        width: 100%;
    }
}

.varios-report__bottom-element--text-mobile {
    display: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #90959E;
    margin-top: 6px;
    @media (max-width: $tablet) {
        display: block
    }
}

.varios-report__bottom-element-btn {
    height: 40px;
    background: $outline;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    &:hover {
        background: #F29D8E;
    }
    &:focus,
    &:active {
        background: #D13F1C
    }
    @media (max-width: $tablet) {
        margin-top: 14px
    }
}

.varios-report__bottom-element-info {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFC171;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    &:hover {
        .varios-report__bottom-element--toltip {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            z-index: 9;
            pointer-events: all;
        }
    }
}

.varios-report__bottom-element--toltip {
    position: absolute;
    width: 169px;
    padding: 6px 9px;
    background: #FFC171;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    right: 42%;
    left: auto;
    bottom: 28px;
    opacity: 0;
    z-index: -2;
    transform: translate3d(0, -10px, 0);
    transition: .4s;
    pointer-events: none;
    &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66268 12.5129C8.87074 13.6975 7.12926 13.6975 6.33732 12.5129L0.553807 3.86152C-0.334603 2.53259 0.617944 0.75 2.21649 0.75L13.7835 0.750001C15.3821 0.750002 16.3346 2.53258 15.4462 3.86152L9.66268 12.5129Z' fill='%23FFC171'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        bottom: -12px;
        right: 8px;
    }
}

.varios-report__top-arrow {
    display: flex;
    align-items: center;
    svg {
        width: 30px;
        height: 19px;
    }
    .swiper-button-prev {
        margin-right: 28px;
    }
}

.varios-report__bottom-element-input {
    border: 1px solid $main;
    border-radius: 10px;
    height: 40px;
    background: #FFFFFF;
    padding: 11px;
    width: 100%;
    color: $outline;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: $outline;
        font-family: 'RoadRadio';
    }
    &:focus::placeholder {
        color: transparent;
    }
}

.varios-report__bottom-element-field {
    position: relative;
    margin-top: 22px;
    display: flex;
    align-items: center;
    &:after {
        content: '';
        position: absolute;
        right: 11px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9549 2.625C11.0544 2.625 11.1498 2.66451 11.2201 2.73483L13.3414 4.85616C13.4879 5.0026 13.4879 5.24004 13.3414 5.38649L6.44714 12.2808C6.40003 12.3279 6.34121 12.3616 6.27675 12.3784L3.40543 13.1284C3.27662 13.1621 3.13963 13.1249 3.04549 13.0308C2.95136 12.9366 2.91419 12.7996 2.94783 12.6708L3.69783 9.79952C3.71467 9.73505 3.74838 9.67624 3.79549 9.62913L10.6898 2.73483C10.7601 2.66451 10.8555 2.625 10.9549 2.625Z' fill='black'/%3E%3Cpath d='M3 14.4375C2.68934 14.4375 2.4375 14.6893 2.4375 15C2.4375 15.3107 2.68934 15.5625 3 15.5625H14.25C14.5607 15.5625 14.8125 15.3107 14.8125 15C14.8125 14.6893 14.5607 14.4375 14.25 14.4375H3Z' fill='black'/%3E%3C/svg%3E%0A");
        width: 18px;
        height: 18px;
        top: 50%;
        transform: translateY(-50%);
    }
    &[data-checkbox] {
        &:after {
            display: none;
        }
    }
    @media (max-width:$tablet) {
        margin-top: 16px
    }
}

.varios-report__bottom-element-field--info {
    display: flex;
    align-items: center;
    margin-right: 0;
    p {
        margin-right: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        opacity: 0.4;
    }
    svg {
        width: 24px;
        height: 24px;
    }
    @media (max-width: $tablet) {
        p {
            margin-right: 10px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
        }
        svg {
            width: 13px;
            height: 13px;
        }
    }
    @media (max-width: 350px) {
        margin-right: 10px
    }
}

.varios-report__bottom-element-checkbox {
    flex-shrink: 0;
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
    height: 23px;
    width: 46px;
    line-height: 28px;
    margin-right: 0;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    input[type=checkbox] {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:not(:disabled):active+.varios-report__bottom-element-checkbox-switch:before {
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
        }
        &:checked+.varios-report__bottom-element-checkbox-switch {
            background: $outline;
        }
        &:checked+.varios-report__bottom-element-checkbox-switch:before {
            transform: translateX(24px);
            background: #fff;
            left: 0px
        }
        &.focused .checkbox-ios-switch:before {
            box-shadow: inset 0px 0px 4px #ff5623;
        }
    }
    &-switch {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border-radius: 25%/50%;
        background: transparent;
        border: 1px solid $outline;
        transition: .2s;
        padding: 2px 0 2px 2px;
        &:before {
            content: '';
            width: 17px;
            height: 100%;
            margin-left: 0;
            display: flex;
            align-items: center;
            border-radius: 50%;
            background: $outline;
            transition: .2s linear;
        }
    }
}

// .checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch:before {
//     transform: translateX(28px);
// }
// /* Hover */
// .checkbox-ios input[type="checkbox"]:not(:disabled)+.checkbox-ios-switch {
//     cursor: pointer;
//     border-color: rgba(0, 0, 0, .3);
// }
// /* Disabled */
// .checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch {
//     filter: grayscale(70%);
//     border-color: rgba(0, 0, 0, .1);
// }
// .checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch:before {
//     background: #eee;
// }
// /* Focus */
