.your-reports {
    margin-top: 70px;
    margin-right: 30px;
    @media (max-width: $tablet) {
        margin-top: 28px;
        margin-right: 0;
    }
}

.your-reports__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.your-reports__top-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    @media (max-width: $tablet) {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
}

.your-reports__top-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    &:hover {
        color: $outline;
        &:after {
            background: url("data:image/svg+xml,%3Csvg width='24' height='15' viewBox='0 0 24 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2071 8.20711C23.5976 7.81658 23.5976 7.18342 23.2071 6.7929L16.8431 0.428934C16.4526 0.0384092 15.8195 0.0384091 15.4289 0.428933C15.0384 0.819458 15.0384 1.45262 15.4289 1.84315L21.0858 7.5L15.4289 13.1569C15.0384 13.5474 15.0384 14.1805 15.4289 14.5711C15.8195 14.9616 16.4526 14.9616 16.8431 14.5711L23.2071 8.20711ZM0.5 8.5L22.5 8.5L22.5 6.5L0.5 6.5L0.5 8.5Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A") no-repeat;
        }
    }
    &:after {
        content: '';
        background: url("data:image/svg+xml,%3Csvg width='24' height='15' viewBox='0 0 24 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2071 8.20711C23.5976 7.81658 23.5976 7.18342 23.2071 6.7929L16.8431 0.428934C16.4526 0.0384092 15.8195 0.0384091 15.4289 0.428933C15.0384 0.819458 15.0384 1.45262 15.4289 1.84315L21.0858 7.5L15.4289 13.1569C15.0384 13.5474 15.0384 14.1805 15.4289 14.5711C15.8195 14.9616 16.4526 14.9616 16.8431 14.5711L23.2071 8.20711ZM0.5 8.5L22.5 8.5L22.5 6.5L0.5 6.5L0.5 8.5Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A") no-repeat;
        transition: .3s;
        width: 24px;
        height: 16px;
        display: block;
        margin-left: 11px
    }
    @media (max-width: $tablet) {
        &:not(.your-reports__top-link--mobile) {
            display: none;
        }
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='9' viewBox='0 0 21 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3536 4.85355C20.5488 4.65829 20.5488 4.34171 20.3536 4.14645L17.1716 0.964466C16.9763 0.769204 16.6597 0.769204 16.4645 0.964466C16.2692 1.15973 16.2692 1.47631 16.4645 1.67157L19.2929 4.5L16.4645 7.32843C16.2692 7.52369 16.2692 7.84027 16.4645 8.03553C16.6597 8.2308 16.9763 8.2308 17.1716 8.03553L20.3536 4.85355ZM0 5H20V4H0L0 5Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A");
            background-position: center;
            margin-left: 4px;
        }
        &:hover {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='9' viewBox='0 0 21 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3536 4.85355C20.5488 4.65829 20.5488 4.34171 20.3536 4.14645L17.1716 0.964466C16.9763 0.769204 16.6597 0.769204 16.4645 0.964466C16.2692 1.15973 16.2692 1.47631 16.4645 1.67157L19.2929 4.5L16.4645 7.32843C16.2692 7.52369 16.2692 7.84027 16.4645 8.03553C16.6597 8.2308 16.9763 8.2308 17.1716 8.03553L20.3536 4.85355ZM0 5H20V4H0L0 5Z' fill='%23ed6a53'/%3E%3C/svg%3E%0A");
                background-position: center;
            }
        }
    }
}

.your-reports__top-link--mobile {
    display: none;
    @media(max-width: $tablet) {
        display: flex;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
    }
}

.your-reports__bottom-element {
    background: rgba(121, 126, 135, 0.1);
    border-radius: 10px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    @media (max-width: $tablet) {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        align-items: flex-end;
        box-shadow: 4px 3px 6px rgba(85, 85, 85, 0.12);
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        .your-reports__bottom-element-date {
            order: 0;
            font-size: 14px;
            line-height: 130%;
        }
        .your-reports__bottom-element-edit {
            order: 1;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .your-reports__bottom-element-list {
            order: 2;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(0px, 1fr));
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.your-reports__bottom-element-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.your-reports__bottom-element-list {
    display: flex;
    align-items: center;
    height: 42px;
    margin-left: 10%;
    margin-right: auto;
    @media (max-width: $tablet) {
        height: auto;
        margin-top: 11px;
    }
}

.your-reports__bottom-element-list-line {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    height: 100%;
    &:not(:last-child) {
        padding-right: 24px;
        margin-right: 24px;
        border-right: 1px solid #0E0E0E;
    }
    &[data-info] {
        &:before {
            display: block;
            margin-right: 10px;
            width: 32px;
            height: 32px
        }
    }
    &[data-info="weight"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 5C3 3.89543 3.89543 3 5 3H27C28.1046 3 29 3.89543 29 5V27C29 28.1046 28.1046 29 27 29H5C3.89543 29 3 28.1046 3 27V5ZM23.925 13.5625C24.0355 13.5625 24.1253 13.4729 24.122 13.3625C24.0653 11.4956 23.2165 9.71593 21.7452 8.39178C20.2215 7.02042 18.1549 6.25 16 6.25C13.8451 6.25 11.7785 7.02042 10.2548 8.39178C8.78348 9.71593 7.93473 11.4956 7.87804 13.3625C7.87468 13.4729 7.96454 13.5625 8.075 13.5625L12.5333 13.5625C12.6438 13.5625 12.7326 13.4728 12.7409 13.3627C12.7944 12.6559 13.13 11.9877 13.6901 11.4836C13.9084 11.2872 14.1544 11.1214 14.4198 10.9894C14.4395 10.9796 14.4557 10.9637 14.4655 10.944L15.8211 8.23277C15.8948 8.08536 16.1052 8.08536 16.1789 8.23277L17.5345 10.944C17.5443 10.9637 17.5605 10.9796 17.5802 10.9894C17.8456 11.1214 18.0916 11.2872 18.3099 11.4836C18.87 11.9877 19.2057 12.6559 19.2591 13.3627C19.2674 13.4728 19.3562 13.5625 19.4667 13.5625H23.925Z' fill='%23ED6A53'/%3E%3Cpath d='M12 23H20' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
    &[data-up] {
        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4596 4.04038C12.2058 3.78654 11.7942 3.78654 11.5404 4.04038L7.40381 8.17695C7.14997 8.43079 7.14997 8.84235 7.40381 9.09619C7.65765 9.35003 8.0692 9.35003 8.32304 9.09619L12 5.41924L15.677 9.09619C15.9308 9.35003 16.3424 9.35003 16.5962 9.09619C16.85 8.84235 16.85 8.43079 16.5962 8.17695L12.4596 4.04038ZM12.65 19.5L12.65 4.5L11.35 4.5L11.35 19.5L12.65 19.5Z' fill='%2390959E'/%3E%3C/svg%3E%0A");
            display: block;
            width: 24px;
            height: 24px;
        }
    }
    &[data-down] {
        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5404 19.9596C11.7942 20.2135 12.2058 20.2135 12.4596 19.9596L16.5962 15.823C16.85 15.5692 16.85 15.1576 16.5962 14.9038C16.3424 14.65 15.9308 14.65 15.677 14.9038L12 18.5808L8.32304 14.9038C8.0692 14.65 7.65765 14.65 7.40381 14.9038C7.14996 15.1576 7.14996 15.5692 7.40381 15.823L11.5404 19.9596ZM11.35 4.5L11.35 19.5L12.65 19.5L12.65 4.5L11.35 4.5Z' fill='%232CA869'/%3E%3C/svg%3E%0A");
            display: block;
            width: 24px;
            height: 24px;
        }
    }
    &[data-info="power"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1098_31102)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.4444 8.72379C17.8007 5.85731 13.1988 5.85731 10.5551 8.72379C10.0628 9.2576 9.78672 9.96209 9.78672 10.6795C9.78672 11.1289 9.94582 11.5302 10.2046 11.8411C10.3523 12.0186 10.3191 12.3239 10.1094 12.4206C9.22289 12.8291 8.41188 13.3415 7.68484 13.9454C7.56141 14.0479 7.37694 14.0345 7.28071 13.9061C6.61504 13.0181 6.2128 11.9095 6.2128 10.6795C6.2128 9.05541 6.83286 7.48819 7.92796 6.3008C11.9869 1.89973 19.0126 1.89973 23.0716 6.3008C24.1667 7.48819 24.7867 9.05541 24.7867 10.6795C24.7867 11.9093 24.3846 13.0179 23.719 13.9059C23.6228 14.0343 23.4383 14.0476 23.3149 13.9451C22.5878 13.3413 21.7768 12.8289 20.8903 12.4204C20.6806 12.3238 20.6474 12.0185 20.7951 11.841C21.0538 11.5301 21.2128 11.1288 21.2128 10.6795C21.2128 9.96209 20.9367 9.2576 20.4444 8.72379ZM15.1176 35.1504C15.2446 35.1544 15.3721 35.1565 15.5 35.1565C15.628 35.1565 15.7554 35.1544 15.8824 35.1504H16.6925C16.3011 35.201 15.9032 35.227 15.5 35.227C15.0968 35.227 14.6989 35.201 14.3075 35.1504H15.1176ZM25.9999 23.1817C25.9796 17.4035 22.0455 12.7269 15.5 12.7269C8.9375 12.7269 5 17.4279 5 23.2269C5 25.9083 6.00511 28.3549 7.65912 30.2106C7.71258 30.2706 7.78937 30.3043 7.86971 30.3043H23.1303C23.2107 30.3043 23.2874 30.2706 23.3409 30.2106C24.9856 28.3654 25.9886 25.9359 25.9999 23.2723C26 23.2572 26 23.2421 26 23.227C26 23.2119 26 23.1968 25.9999 23.1817Z' fill='%23ED6A53'/%3E%3Cpath d='M16.1562 16.5229C17.1524 16.5229 18.128 16.8063 18.9691 17.3401C19.8102 17.8738 20.4821 18.6358 20.9063 19.5371' stroke='white' stroke-width='1.3125' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1098_31102'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }
    &[data-info="step"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5465 7.92511C17.1827 7.92511 18.509 6.59873 18.509 4.96255C18.509 3.32638 17.1827 2 15.5465 2C13.9103 2 12.5839 3.32638 12.5839 4.96255C12.5839 6.59873 13.9103 7.92511 15.5465 7.92511ZM17.8507 14.7717C17.8507 14.6675 17.9664 14.6043 18.0553 14.6587C19.6371 15.6267 21.4711 16.1545 23.3645 16.1545H24.1049C25.0138 16.1545 25.7507 15.4176 25.7507 14.5086C25.7507 13.5996 25.0138 12.8627 24.1049 12.8627H23.3645C21.3811 12.8627 19.4942 12.0065 18.1881 10.5138C16.4747 8.55575 13.6268 8.05975 11.3524 9.3233L9.05914 10.5974C8.12323 11.1173 7.41624 11.9692 7.07767 12.9849L6.08491 15.9632C5.79746 16.8255 6.2635 17.7576 7.12584 18.045C7.98818 18.3325 8.92027 17.8665 9.20771 17.0041L10.2005 14.0258C10.2786 13.7914 10.4418 13.5948 10.6577 13.4749L11.6667 12.9143C11.7572 12.864 11.8676 12.933 11.8622 13.0363L11.3006 23.7069C11.2991 23.7353 11.2884 23.7625 11.2702 23.7843L8.35697 27.2802C7.77505 27.9785 7.8694 29.0163 8.5677 29.5983C9.266 30.1802 10.3038 30.0858 10.8857 29.3875L13.8971 25.7739C14.3066 25.2825 14.5461 24.6718 14.5797 24.033L14.7429 20.9319C14.7503 20.7912 14.9724 20.7461 15.0501 20.8636C15.159 21.0284 15.2849 21.1831 15.4267 21.3248L17.817 23.7151C17.9436 23.8417 18.0334 24.0003 18.0768 24.1739L19.2165 28.7331C19.437 29.6149 20.3306 30.1511 21.2125 29.9306C22.0943 29.7101 22.6305 28.8165 22.41 27.9347L21.2702 23.3756C21.0821 22.6231 20.693 21.936 20.1446 21.3875L17.8893 19.1322C17.8646 19.1075 17.8507 19.074 17.8507 19.0391V14.7717Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
        }
    }
    &[data-info="calories"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.3401 9.04636C20.8705 11.5917 16.991 12.1031 16.991 12.1031C16.991 12.1031 15.4941 8.48761 16.9636 5.94226C18.4332 3.39691 22.3127 2.88555 22.3127 2.88555C22.3127 2.88555 23.8097 6.50101 22.3401 9.04636Z' fill='%23ED6A53'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.991 12.1029L16.0671 12.4854L16.3607 13.1946L17.1217 13.0943L16.991 12.1029ZM22.1408 9.35893C20.9435 9.10628 19.4295 9.13775 17.515 9.58426C17.3383 9.62548 17.1597 9.65934 16.9799 9.68585C16.9027 8.78165 16.7196 7.97667 16.4587 7.2674C15.9471 9.58139 16.991 12.1029 16.991 12.1029C16.0671 12.4854 16.067 12.4852 16.0669 12.4849L16.0666 12.4842L16.0659 12.4826L16.0642 12.4784L16.0592 12.4662L16.0433 12.4261C16.0303 12.3926 16.0123 12.3458 15.9907 12.2867C15.9474 12.1688 15.8892 12.0015 15.8249 11.7942C15.697 11.3813 15.5427 10.8013 15.4382 10.1311C15.4181 10.0019 15.3995 9.86769 15.3833 9.72928C15.0808 9.70146 14.7804 9.65312 14.4851 9.58424C5.33337 7.44976 5.33337 14.799 5.33337 17.3332C5.33337 21.5905 7.01228 24.9326 8.68504 27.206C10.3972 29.5329 13.5962 29.6023 16 27.9999C18.4038 29.6023 21.6029 29.5329 23.315 27.206C24.9878 24.9326 26.6667 21.5905 26.6667 17.3332C26.6667 15.4887 26.6667 11.0935 23.1381 9.66071C22.2237 11.155 20.6783 11.9966 19.4751 12.4618C18.8424 12.7064 18.263 12.8628 17.8414 12.9584C17.6298 13.0065 17.4558 13.0396 17.332 13.0612C17.2701 13.0719 17.2205 13.0798 17.185 13.0852L17.1423 13.0915L17.1292 13.0933L17.1248 13.0939L17.1231 13.0941L17.1223 13.0942C17.122 13.0943 17.1217 13.0943 16.991 12.1029C16.991 12.1029 20.5487 11.634 22.1408 9.35893ZM15.8343 5.96303C14.9375 4.4836 13.6617 3.60757 12.4714 3.27723L11.7488 3.07666L11.3476 4.52203L12.0703 4.7226C13.2187 5.04131 14.7687 6.21951 15.3178 8.69584C15.3118 7.82148 15.4381 6.866 15.8343 5.96303Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
        }
    }
    &[data-info="period"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8153 3C15.4089 3.20924 11.8882 8.85619 11.3466 9.69278C9.92486 11.9235 8.43514 14.7121 7.62274 17.222C6.67467 20.3594 6.67468 23.4963 8.57081 26.2152C12.2946 31.5132 19.8776 31.0256 22.9928 26.1455C24.8886 23.2871 24.8886 20.3594 23.8729 17.0828C23.0604 14.5732 21.5031 11.7847 20.1491 9.62359C19.6074 8.78705 16.1544 3.14012 15.7479 3.00083H15.8155L15.8153 3Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
        }
    }
    @media (max-width: $tablet) {
        padding: 35px 0 0 0;
        width: auto;
        height: 80px;
        background: #fff;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 130%;
        justify-content: center;
        &:not(:last-child) {
            padding-right: 0;
            margin-right: 4px;
            border-right: none;
        }
        &[data-info] {
            &:before {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 17px;
                background-size: cover;
                margin-right: 0;
            }
        }
        &[data-up] {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 14.25L9 3.75' stroke='%2390959E' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.75 9L9 3.75L14.25 9' stroke='%2390959E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                margin-left: 4px;
                width: 18px;
                height: 18px;
            }
        }
        &[data-down] {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 14.25L9 3.75' stroke='%232CA869' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.75 9L9 3.75L14.25 9' stroke='%232CA869' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                transform: rotate(180deg);
                background-repeat: no-repeat;
                margin-left: 4px;
                width: 18px;
                height: 18px;
            }
        }
    }
}

.your-reports__bottom-element-edit {
    svg {
        width: 24px;
        height: 24px;
        fill: $main;
        transition: .2s;
        &:hover {
            fill: $outline
        }
        &:active {
            fill: $gray
        }
    }
}
