.your-reports {
    margin-top: 70px;
    margin-right: 30px;
    @media (max-width: $tablet) {
        margin-top: 28px;
        margin-right: 0;
    }
}

.your-reports__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.your-reports__top-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    @media (max-width: $tablet) {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
}

.your-reports__top-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    &:after {
        content: '';
        background: url("data:image/svg+xml,%3Csvg width='24' height='15' viewBox='0 0 24 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2071 8.20711C23.5976 7.81658 23.5976 7.18342 23.2071 6.7929L16.8431 0.428934C16.4526 0.0384092 15.8195 0.0384091 15.4289 0.428933C15.0384 0.819458 15.0384 1.45262 15.4289 1.84315L21.0858 7.5L15.4289 13.1569C15.0384 13.5474 15.0384 14.1805 15.4289 14.5711C15.8195 14.9616 16.4526 14.9616 16.8431 14.5711L23.2071 8.20711ZM0.5 8.5L22.5 8.5L22.5 6.5L0.5 6.5L0.5 8.5Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A") no-repeat;
        width: 24px;
        height: 16px;
        display: block;
        margin-left: 11px
    }
    @media (max-width: $tablet) {
        &:not(.your-reports__top-link--mobile) {
            display: none;
        }
    }
}

.your-reports__top-link--mobile {
    display: none;
    @media(max-width: $tablet) {
        display: flex;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
    }
}

.your-reports__bottom-element {
    background: rgba(121, 126, 135, 0.1);
    border-radius: 10px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    @media (max-width: $tablet) {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        align-items: flex-end;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        .your-reports__bottom-element-date {
            order: 0;
            font-size: 14px;
            line-height: 130%;
        }
        .your-reports__bottom-element-edit {
            order: 1;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .your-reports__bottom-element-list {
            order: 2
        }
    }
}

.your-reports__bottom-element-date {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.your-reports__bottom-element-list {
    display: flex;
    align-items: center;
    height: 42px;
    @media (max-width: $tablet) {
        height: auto;
        margin-top: 11px;
    }
}

.your-reports__bottom-element-list-line {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    height: 100%;
    &:not(:last-child) {
        padding-right: 24px;
        margin-right: 24px;
        border-right: 1px solid #0E0E0E;
    }
    &[data-info] {
        &:before {
            display: block;
            margin-right: 10px;
            width: 32px;
            height: 32px
        }
    }
    &[data-info="weight"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.66663' y='2.6665' width='26.6667' height='26.6667' rx='2' fill='%23ED6A53'/%3E%3Crect x='7.71094' y='7.71191' width='16.5766' height='5.04505' rx='1' fill='white'/%3E%3C/svg%3E%0A");
        }
        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4596 4.04038C12.2058 3.78654 11.7942 3.78654 11.5404 4.04038L7.40381 8.17695C7.14997 8.43079 7.14997 8.84235 7.40381 9.09619C7.65765 9.35003 8.0692 9.35003 8.32304 9.09619L12 5.41924L15.677 9.09619C15.9308 9.35003 16.3424 9.35003 16.5962 9.09619C16.85 8.84235 16.85 8.43079 16.5962 8.17695L12.4596 4.04038ZM12.65 19.5L12.65 4.5L11.35 4.5L11.35 19.5L12.65 19.5Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
            display: block;
            width: 24px;
            height: 24px;
        }
    }
    &[data-info="power"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4266 19.8132L29.3333 17.9065L27.4266 15.9998L22.6666 20.7598L11.24 9.33317L16 4.57317L14.0933 2.6665L12.1866 4.57317L10.28 2.6665L7.42663 5.51984L5.51996 3.61317L3.61329 5.51984L5.51996 7.4265L2.66663 10.2798L4.57329 12.1865L2.66663 14.0932L4.57329 15.9998L9.33329 11.2398L20.76 22.6665L16 27.4265L17.9066 29.3332L19.8133 27.4265L21.72 29.3332L24.5733 26.4798L26.48 28.3865L28.3866 26.4798L26.48 24.5732L29.3333 21.7198L27.4266 19.8132Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
        }
    }
    &[data-info="step"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.452 1.22566C14.4115 1.45934 13.5625 2.30891 13.3124 3.36671C12.9805 4.77068 13.6723 6.23245 14.9692 6.86732C15.8376 7.29239 16.6244 7.29418 17.4851 6.87297C19.2654 6.00166 19.5969 3.55742 18.1361 2.072C17.4226 1.34645 16.3792 1.01742 15.452 1.22566ZM15.0395 7.56005C14.8445 7.58416 14.5839 7.65638 14.4606 7.72047C14.1428 7.88561 9.06573 11.3481 8.86739 11.5349C8.77715 11.6199 8.67911 11.734 8.64949 11.7884C8.61982 11.8429 8.16656 13.1136 7.64222 14.6123C7.00676 16.4284 6.6892 17.4149 6.69007 17.5705C6.69377 18.2519 7.31251 18.7735 7.99581 18.6714C8.28173 18.6286 8.67338 18.3655 8.79185 18.1367C8.83737 18.0488 9.29456 16.9518 9.80786 15.6988C10.3212 14.4459 10.7729 13.3904 10.8118 13.3534C10.8506 13.3163 11.377 13.0316 11.9814 12.7206C12.8908 12.2529 13.1627 12.0823 13.5576 11.7323C13.8201 11.4996 14.0348 11.3321 14.0348 11.36C14.0348 11.424 13.6252 12.0109 13.3418 12.3528L13.1267 12.6123L13.0597 13.9679C13.0229 14.7135 12.9681 15.4922 12.938 15.6984C12.85 16.3013 12.6549 17.8868 12.6186 18.2942C12.6002 18.5004 12.4432 19.7049 12.2697 20.9707L11.9542 23.2723L10.4677 26.1623C8.87126 29.2659 8.83569 29.3557 9.00332 29.8623C9.10003 30.1545 9.49475 30.5373 9.7901 30.6253C10.1541 30.7338 10.398 30.7113 10.7419 30.5376C11.0467 30.3837 11.0961 30.3207 12.4281 28.3889C13.1828 27.2943 14.1003 25.9575 14.4671 25.4182L15.134 24.4376L15.5632 22.6205C15.7993 21.6211 16.0384 20.5467 16.0946 20.2329C16.2209 19.5274 16.2809 19.6243 16.2871 20.5439L16.2915 21.2073L17.1591 22.355C17.7535 23.1415 18.0513 23.5864 18.1051 23.7683C18.1483 23.9143 18.5698 25.3674 19.0418 26.9973C19.9727 30.2115 20.0048 30.291 20.4691 30.5335C21.2208 30.926 22.1491 30.4619 22.2784 29.6291C22.3235 29.3383 21.1955 22.2997 21.0628 22.0437C21.0134 21.9485 20.2863 20.769 19.4469 19.4223L17.9207 16.9739L17.9783 16.5237C18.01 16.276 18.0268 15.2763 18.0156 14.3021C18.0041 13.3059 18.0169 12.5693 18.0446 12.6188C18.0718 12.6671 18.1662 12.9923 18.2544 13.3414C18.4007 13.92 18.4372 13.9987 18.6675 14.2328C19.155 14.7281 19.0972 14.7178 21.8462 14.8044C23.3176 14.8508 24.3503 14.8608 24.4593 14.8295C25.4453 14.5475 25.618 13.2579 24.7361 12.7637C24.5352 12.6511 24.2483 12.6102 22.4391 12.4362C20.7159 12.2704 20.3559 12.2205 20.276 12.1364C20.2234 12.0809 19.4714 11.1789 18.605 10.1319C17.7385 9.08498 16.9479 8.14167 16.8482 8.03577C16.4492 7.61225 15.8635 7.45818 15.0395 7.56005Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
        }
    }
    &[data-info="calories"] {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6518 9.61582C15.6606 8.93041 15.7498 8.22064 15.9521 7.52674C16.1412 6.87835 16.4219 6.28752 16.808 5.77243C17.3732 5.019 18.188 4.48573 19.1744 4.12698C19.8048 3.89766 20.4692 3.75284 21.1319 3.67241C21.5304 3.62406 21.8455 3.6078 22.0395 3.6078H22.4905C22.7369 3.6078 22.9414 3.81167 22.9414 4.06301V4.95652C22.9414 5.21172 22.741 5.41173 22.4935 5.41173H22.0395C22.0147 5.41173 21.9552 5.41323 21.8665 5.41772C21.7118 5.42585 21.5375 5.4404 21.349 5.46329C20.8131 5.5281 20.2792 5.64469 19.7908 5.82224C19.1076 6.07081 18.5805 6.41564 18.2513 6.85478C18.0032 7.1855 17.8154 7.58126 17.6838 8.03196C17.5257 8.57423 17.4581 9.15201 17.4558 9.71015C17.1591 9.88877 16.9753 9.9215 16.6277 9.9215C16.2258 9.9215 16.0431 9.87765 15.6518 9.61582L15.6518 9.61582ZM15.5465 5.21259C15.1566 5.79039 14.8601 6.43856 14.6533 7.14811C14.6058 7.31047 14.5634 7.47455 14.5258 7.63991C14.3255 7.65766 14.124 7.66665 13.9215 7.66665C10.2149 7.66665 7.19991 4.68401 7.1572 0.981245C7.15207 0.532236 7.47786 0.148034 7.92152 0.0793618C8.26357 0.0267383 8.61054 0 8.96075 0C12.1605 0 14.845 2.22281 15.547 5.21273L15.5465 5.21259ZM16.6277 29.7648C16.1233 29.7648 15.8803 29.8191 15.5067 29.9789C15.5095 29.9779 15.2158 30.1062 15.1159 30.1475C14.257 30.502 13.3168 30.6667 11.6667 30.6667C7.6537 30.6667 4 23.5514 4 17.5883C4 11.9111 5.97506 9.01961 10.3141 9.01961C12.0453 9.01961 13.0569 9.413 14.3084 10.3181C14.3621 10.357 14.5561 10.4984 14.5995 10.5299C15.3763 11.0923 15.8131 11.2745 16.6279 11.2745C17.4427 11.2745 17.8795 11.0923 18.6564 10.5299C18.6996 10.4984 18.8939 10.357 18.9474 10.3181C20.1988 9.41302 21.2104 9.01961 22.9416 9.01961C27.2766 9.01961 29.2557 11.9211 29.2557 17.5883C29.2557 23.5514 25.6018 30.6667 21.589 30.6667C19.9388 30.6667 18.9987 30.502 18.14 30.1475C18.0402 30.1062 17.7464 29.9779 17.7492 29.9791C17.3757 29.8191 17.1327 29.7648 16.6281 29.7648H16.6277Z' fill='%23ED6A53'/%3E%3C/svg%3E%0A");
        }
    }
    @media (max-width: $tablet) {
        padding: 35px 0 0 0;
        width: 80px;
        height: 80px;
        background: #fff;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 130%;
        justify-content: center;
        &:not(:last-child) {
            padding-right: 0;
            margin-right: 4px;
            border-right: none;
        }
        &[data-info] {
            &:before {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 17px;
                background-size: cover;
                margin-right: 0;
            }
        }
    }
}

.your-reports__bottom-element-edit {
    svg {
        width: 32px;
        height: 32px
    }
}